<!DOCTYPE html>
<html lang="en">
    <% include part_element/head.ejs%>
    <body>

<!-- ==============================================
**Preloader**
=================================================== -->
        <div id="loader">
            <div id="element">
                <div class="circ-one"></div>
                <div class="circ-two"></div>
            </div>
        </div>

<!-- ==============================================
**Header**
=================================================== -->
        <% include part_element/header.ejs%>

<!-- ==============================================
**Inner Banner**
=================================================== -->
        <section class="inner-banner">
            <div class="container">
                <div class="contents">
                    <h1>About Us</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span>Lorem Ipsum has been the industry's standard dummy text ever since</span></p>
                </div>
            </div>
        </section>

<!-- ==============================================
**Who we Are**
=================================================== -->
        <section class="who-we-are padding-lg">
            <div class="container">
                <div class="row row1">
                    <div class="col-lg-6">
                       <figure><img src="images/who-we-are.jpg" class="img-fluid" alt=""></figure>
                    </div>
                    <div class="col-lg-6">
                        <div class="cnt-block">
                            <h2>Who we Are ?</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been </p>
                            <ul class="who-listing">
                                <li>Deliver a high quality web design</li>
                                <li>Support our customers once signing a contract</li>
                                <li>Streamline an expanded array of web</li>
                                <li>Pursue web-enabled niche markets with professionals</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <ul class="counter-listing">
                            <li> 
                                <span class="counter" data-num="2007">2007</span>
                                <span class="sub-title">ESTABLISHED IN</span>
                            </li>
                            <li>
                                <div class="couter-outer"><span class="counter" data-num="350">350</span><span>+</span></div>
                                <span class="sub-title">CLIENTS WORLD WIDE</span>
                            </li>
                            <li>
                                <div class="couter-outer"><span class="counter" data-num="950">950</span><span>+</span></div>
                                <span class="sub-title">PROJECTS COMPLETED</span>
                            </li>
                            <li>
                                <div class="couter-outer"><span class="counter" data-num="100">100</span><span>+</span></div>
                                <span class="sub-title">TEAM MEMBERS</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Take a Tour Section**
=================================================== -->
        <section class="about-video">
            <div class="container">
                <div class="cnt-block"> <a class="play-btn video" href="https://www.youtube.com/watch?v=3xJzYpRVQVA"><span class="icon-know-more-arrow"></span></a>
                    <h2>Take a tour</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                </div>
            </div>
        </section>

<!-- ==============================================
**Our Team Section**
=================================================== -->
        <section class="our-team-outer padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <h2>Protech Team</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
                <ul class="row team-listing">
                    <li class="col-md-6 col-lg-3">
                        <figure><img src="images/team-img1.jpg" class="rounded-circle img-fluid" alt=""></figure>
                        <h3>Matt Anderson</h3>
                        <span class="source-title">Development</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing</p>
                        <ul class="follow-us">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </li>
                    <li class="col-md-6 col-lg-3">
                        <figure><img src="images/team-img2.jpg" class="rounded-circle img-fluid" alt=""></figure>
                        <h3>Pamela Redmond</h3>
                        <span class="source-title">Digital Marketing</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing</p>
                        <ul class="follow-us">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </li>
                    <li class="col-md-6 col-lg-3">
                        <figure><img src="images/team-img3.jpg" class="rounded-circle img-fluid" alt=""></figure>
                        <h3>Milan Chudoba</h3>
                        <span class="source-title">Co-Founder</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing</p>
                        <ul class="follow-us">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </li>
                    <li class="col-md-6 col-lg-3">
                        <figure><img src="images/team-img4.jpg" class="rounded-circle img-fluid" alt=""></figure>
                        <h3>Annabel</h3>
                        <span class="source-title">Creative Director</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing</p>
                        <ul class="follow-us">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>

<!-- ==============================================
**Signup Section**
=================================================== -->
        <section class="signup-outer gradient-bg padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="clearfix">
                            <li> <span class="icon-men"></span>
                                <h4>Signup for an <span>Account</span></h4>
                            </li>
                            <li> <span class="icon-chat"></span>
                                <h4>Discuss with <span>our team</span></h4>
                            </li>
                            <li> <span class="icon-lap"></span>
                                <h4>Receive a <span>good support</span></h4>
                            </li>
                        </ul>
                        <div class="signup-form">
                            <form action="#" method="get">
                                <div class="email">
                                    <input name="email" type="text" placeholder="email">
                                </div>
                                <div class="password">
                                    <input name="password" type="password" placeholder="password">
                                </div>
                                <button class="signup-btn">Sign up Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Footer opt1**
=================================================== -->
    <% include part_element/footer.ejs%>

        <!-- Scroll to top --> 
        <a href="#" class="scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a> 

        <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
        <script src="js/jquery.min.js"></script> 
        <!-- Popper JS --> 
        <script src="js/popper.min.js"></script> 
        <!-- Bootsrap JS --> 
        <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
        <!-- Select2 JS --> 
        <script src="assets/select2/js/select2.min.js"></script> 
        <!-- Video Popup JS --> 
        <script src="assets/magnific-popup/js/magnific-popup.min.js"></script> 
        <!-- Waypoints JS --> 
        <script src="assets/waypoints/js/waypoints.min.js"></script> 
        <!-- Counter Up JS --> 
        <script src="assets/counterup/js/counterup.min.js"></script> 
        <!-- Custom JS --> 
        <script src="js/custom.js"></script>
    </body>
</html>