<!DOCTYPE html>
<html lang="en">

<% include part_element/head.ejs %>
<body>

<!-- ==============================================
**Preloader**
=================================================== -->
<div id="loader">
    <div id="element">
        <div class="circ-one"></div>
        <div class="circ-two"></div>
    </div>
</div>
<!--<div class="login-form-holder" style="padding: 20px; max-width: 600px">-->
<!--<div class="inner">-->
<!--<div class="login-form">-->
<!--<h3>RU</h3>-->
<!--<form action="javascript:void(0);">-->
<!--<div class="col-md-6 input-col">-->
<!--<label>Title</label>-->
<!--<input name="First Name" placeholder="" type="text" id="billing_first_name">-->
<!--</div>-->
<!--<div class="col-md-10 input-col">-->
<!--<label>Short text</label>-->
<!--<input name="Last Name" placeholder="" type="text" id="billing_last_name">-->
<!--</div>-->
<!--<div class="form-group col-md-12">-->
<!--<label for="exampleFormControlTextarea1">Full text</label>-->
<!--<textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>-->
<!--</div>-->
<!--</form>-->
<!--<form>-->
<!--<div class="form-group">-->
<!--<label for="exampleFormControlFile1">Example file input</label>-->
<!--<input type="file" class="form-control-file" id="exampleFormControlFile1">-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="class-blog-inline">-->
<!--<div class="login-form-holder" style="padding: 20px; max-width: 600px">-->
<!--<div class="inner">-->
<!--<div class="login-form">-->
<!--<h3>En</h3>-->
<!--<form action="javascript:void(0);">-->
<!--<div class="col-md-6 input-col">-->
<!--<label>Title</label>-->
<!--<input name="First Name" placeholder="" type="text" id="billing_first_name">-->
<!--</div>-->
<!--<div class="col-md-10 input-col">-->
<!--<label>Short text</label>-->
<!--<input name="Last Name" placeholder="" type="text" id="billing_last_name">-->
<!--</div>-->
<!--<div class="form-group col-md-12">-->
<!--<label for="exampleFormControlTextarea1">Full text</label>-->
<!--<textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>-->
<!--</div>-->
<!--</form>-->
<!--<form>-->
<!--<div class="form-group">-->
<!--<label for="exampleFormControlFile1">Example file input</label>-->
<!--<input type="file" class="form-control-file" id="exampleFormControlFile1">-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="class-blog-inline">-->
<div class="blog-form-holder" style="padding: 20px;">
    <div class="inner">
        <div class="login-form">
            <form action="javascript:void(0);">

                <div class="row">
                    <div class="col-md-6" style="float: left;">
                        <h3>En</h3>
                    </div>
                    <div class="col-md-6" style="float: left;">
                        <h3>Ru</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 input-col" style="float: left;">
                        <label>Title</label>
                        <input name="First Name" placeholder="" type="text" id="billing_first_name">
                    </div>
                    <div class="col-md-6 input-col" style="float: left;">
                        <label>Title</label>
                        <input name="First Name" placeholder="" type="text" id="billing_first_name">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 input-col">
                        <label>Short text</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                    </div>
                    <div class="col-md-6 input-col">
                        <label>Short text</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlTextarea1">Full text</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlTextarea1">Full text</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlFile1">Example file input</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <div class="form-group col-md-6">
                        <button class="btn submit" style="float: right;">Submit</button>
                    </div>
                </div>


                <!--<div class="col-md-6">-->
                    <!--<div class="col-md-6 input-col" style="float: left">-->
                        <!--<label>Title</label>-->
                        <!--<input name="First Name" placeholder="" type="text" id="billing_first_name">-->
                    <!--</div>-->
                    <!--<div class="col-md-10 input-col">-->
                        <!--<label>Short text</label>-->
                        <!--<input name="Last Name" placeholder="" type="text" id="billing_last_name">-->
                    <!--</div>-->
                    <!--<div class="form-group col-md-12">-->
                        <!--<label for="exampleFormControlTextarea1">Full text</label>-->
                        <!--<textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="exampleFormControlFile1">Example file input</label>-->
                        <!--<input type="file" class="form-control-file" id="exampleFormControlFile1">-->
                    <!--</div>-->
                <!--</div>-->
            </form>
        </div>
    </div>
</div>
<!--</div>-->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="js/popper.min.js"></script>
<!-- Bootsrap JS -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<!-- Custom JS -->
<script src="js/custom.js"></script>
</body>
</html>