<!DOCTYPE html>
<html lang="en">

<% include part_element/head.ejs %>
<body>

<!-- ==============================================
**Preloader**
=================================================== -->
<div id="loader">
    <div id="element">
        <div class="circ-one"></div>
        <div class="circ-two"></div>
    </div>
</div>
<div class="blog-form-holder" style="padding: 20px;">
    <div class="inner">
        <div class="login-form">
            <form action="../blog-standard/save" method="post">

                <div class="row">
                    <div class="col-md-6" style="float: left;">
                        <h3>En</h3>
                    </div>
                    <div class="col-md-6" style="float: left;">
                        <h3>Ru</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 input-col" style="float: left;">
                        <label>Title</label>
                        <input name="titleEn" placeholder="English Title" type="text" id="titleEn">
                    </div>
                    <div class="col-md-6 input-col" style="float: left;">
                        <label>Title</label>
                        <input name="titleRu" placeholder="Russian Title" type="text" id="titleRu">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 input-col">
                        <label for="shortTextEn">Short text</label>
                        <textarea class="form-control" id="shortTextEn" rows="6" name="shortTextEn"></textarea>
                    </div>
                    <div class="col-md-6 input-col">
                        <label for="shortTextRu">Short text</label>
                        <textarea class="form-control" id="shortTextRu" rows="6" name="shortTextRu"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="fullTextEn">Full text</label>
                        <textarea class="form-control" id="fullTextEn" rows="6" name="fullTextEn"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="fullTextRu">Full text</label>
                        <textarea class="form-control" id="fullTextRu" rows="6" name="fullTextRu"></textarea>
                    </div>
                </div>

                <div class="row">
                    <!--<div class="form-group col-md-6">-->
                        <!--<label for="exampleFormControlFile1">Example file input</label>-->
                        <!--<input type="file" class="form-control-file" id="exampleFormControlFile1">-->
                    <!--</div>-->
                    <div class="form-group col-md-6">
                        <button type="submit" class="btn submit" style="float: right;">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--</div>-->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="js/popper.min.js"></script>
<!-- Bootsrap JS -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<!-- Custom JS -->
<script src="js/custom.js"></script>
</body>
</html>