<!DOCTYPE html>
<html lang="en">
        <% include part_element/head.ejs%>
    <body>

<!-- ==============================================
**Preloader**
=================================================== -->
        <div id="loader">
            <div id="element">
                <div class="circ-one"></div>
                <div class="circ-two"></div>
            </div>
        </div>

<!-- ==============================================
**Header**
=================================================== -->
        <% include part_element/header.ejs%>

<!-- ==============================================
**Inner Banner**
=================================================== -->
        <section class="inner-banner career-banner apply-job">
            <div class="container">
                <div class="contents">
                    <h1>Senior Front-end Engineer</h1>
                    <p><span class="icon-map-marker"></span>San Francisco</p>
                    <a href="#apply-job" class="btn orange scroll-link">Apply Now</a> </div>
            </div>
        </section>

<!-- ==============================================
**Job features**
=================================================== -->
        <section class="job-apply-wrapper padding-lg">
            <div class="container">
                <div class="job-info-box">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. when an unknown printer took a galleywhen an unknown printer tookLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. when an unknown printer took a galleywhen an unknown printer tookLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. when an unknown printer took a galleywhen an unknown printer took</p>
                </div>
                <div class="job-features-wrapper">
                    <h5>A Typical Week</h5>
                    <ul class="icon-tik-list">
                        <li>
                            <p>You'll brainstorm with Product Managers and Designers to conceptualize new features</p>
                        </li>
                        <li>
                            <p>You'll collaborate with Application Engineering to build new features for our large-and-growing user base</p>
                        </li>
                        <li>
                            <p>You'll learn about new web technologies and discuss potential solutions to problems</p>
                        </li>
                        <li>
                            <p>You'll help our skilled support team triage bugs and troubleshoot production issues </p>
                        </li>
                        <li>
                            <p>You'll mentor other engineers and deeply review code </p>
                        </li>
                    </ul>
                </div>
                <div class="job-features-wrapper">
                    <h5>Requirements</h5>
                    <ul class="icon-tik-list">
                        <li>
                            <p>Bachelor's degree in Computer Science, Engineering or related field, or equivalent training, fellowship, or work experience. </p>
                        </li>
                        <li>
                            <p>3+ years of experience writing client-side JavaScript </p>
                        </li>
                        <li>
                            <p>Expertise in building complex layouts with CSS and HTML </p>
                        </li>
                        <li>
                            <p>Experience building and debugging complex systems in a team environment </p>
                        </li>
                        <li>
                            <p>Experience with modern browser technologies </p>
                        </li>
                        <li>
                            <p>Strong UX and design sensibilities, and a desire to sweat the small stuff </p>
                        </li>
                        <li>
                            <p>Strong communication skills, a positive attitude, and empathy </p>
                        </li>
                        <li>
                            <p>Self-­awareness and a desire to continually improve </p>
                        </li>
                    </ul>
                </div>
                <div class="job-features-wrapper">
                    <h5>Bonus Points</h5>
                    <ul class="icon-tik-list">
                        <li>
                            <p>Experience with jQuery, Handlebars, or LESS </p>
                        </li>
                        <li>
                            <p>Experience investigating and improving JavaScript performance </p>
                        </li>
                        <li>
                            <p>Experience with WebSockets, Local Storage, or ES6 </p>
                        </li>
                        <li>
                            <p>Experience in small start­up environments </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

<!-- ==============================================
**Job Apply**
=================================================== -->
        <section class="apply-for-job-outer padding-lg" id="apply-job">
            <div class="container">
                <div class="row justify-content-center top-intro">
                    <div class="col-md-10">
                        <h2>Apply for this Job</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
                <div class="contact-form-wrapper">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <label>First Name</label>
                                <input name="first_name" placeholder="" type="text">
                            </div>
                            <div class="col-md-6">
                                <label>Last Name</label>
                                <input name="last_name" placeholder="" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                                <input name="Email" placeholder="" type="text">
                            </div>
                            <div class="col-md-6">
                                <label>Phone</label>
                                <input name="Phone" placeholder="" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Location</label>
                                <textarea placeholder="" class="large"></textarea>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Linkedin Profile</label>
                                        <input name="Linkedin_profile" placeholder="" type="text">
                                    </div>
                                    <div class="col-md-12">
                                        <label>Website</label>
                                        <input name="website" placeholder="" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Choose File</label>
                                <div class="browse-doc">
                                    <input type="text" id="browse-path" />
                                    <label class="browse-icon"><span class="icon-file-upload"></span><span>
                                        <input type="file" id="browse-file" name="myfile" />
                                        </span> </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Message</label>
                                <textarea placeholder=""></textarea>
                            </div>
                            <div class="col-md-12">
                                <button class="btn submit">Submit Resume</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

<!-- ==============================================
**Signup Section**
=================================================== -->
        <section class="signup-outer gradient-bg padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="clearfix">
                            <li> <span class="icon-men"></span>
                                <h4>Signup for an <span>Account</span></h4>
                            </li>
                            <li> <span class="icon-chat"></span>
                                <h4>Discuss with <span>our team</span></h4>
                            </li>
                            <li> <span class="icon-lap"></span>
                                <h4>Receive a <span>good support</span></h4>
                            </li>
                        </ul>
                        <div class="signup-form">
                            <form action="#" method="get">
                                <div class="email">
                                    <input name="email" type="text" placeholder="email">
                                </div>
                                <div class="password">
                                    <input name="password" type="password" placeholder="password">
                                </div>
                                <button class="signup-btn">Sign up Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Footer opt1**
=================================================== -->
        <% include part_element/footer.ejs%>

        <!-- Scroll to top --> 
        <a href="#" class="scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a> 

        <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
        <script src="js/jquery.min.js"></script> 
        <!-- Popper JS --> 
        <script src="js/popper.min.js"></script> 
        <!-- Bootsrap JS --> 
        <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
        <!-- Select2 JS --> 
        <script src="assets/select2/js/select2.min.js"></script> 
        <!-- Custom JS --> 
        <script src="js/custom.js"></script>
    </body>
</html>