<!DOCTYPE html>
<html lang="en">
    <% include part_element/head.ejs%>
    <body>

<!-- ==============================================
**Preloader**
=================================================== -->
        <div id="loader">
            <div id="element">
                <div class="circ-one"></div>
                <div class="circ-two"></div>
            </div>
        </div>

<!-- ==============================================
**Header**
=================================================== -->
        <% include part_element/header.ejs%>

<!-- ==============================================
**Inner Banner**
=================================================== -->
        <section class="inner-banner">
            <div class="container">
                <div class="contents">
                    <h1>Blog Blocks</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span>Lorem Ipsum has been the industry's standard dummy text ever since</span></p>
                </div>
            </div>
        </section>

<!-- ==============================================
**Latest Stories opt1**
=================================================== -->
        <section class="latest-stories padding-lg">
            <div class="container">
                <div class="card-deck blog-blocks">
                    <div class="card bg-none">
                        <div class="card-body">
                            <h4>Our Blog</h4>
                            <h2>Read our latest Stories</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been</p>
                            <a href="blog_grid.ejs" class="know-more">Know More</a> </div>
                    </div>
                    <div class="card">
                        <figure><img src="images/blog-img1.jpg" class="img-fluid" alt=""></figure>
                        <div class="card-body">
                            <h3><a href="blog_grid.ejs">Lorem Ipsum is simply dummy text of the printin...</a></h3>
                            <span class="date">22 Dec 2017</span> </div>
                    </div>
                    <div class="card">
                        <figure><img src="images/blog-img2.jpg" class="img-fluid" alt=""></figure>
                        <div class="card-body">
                            <h3><a href="blog_grid.ejs">Lorem Ipsum is simply dummy text of the printin...</a></h3>
                            <span class="date">16 Nov 2017</span> </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Latest Stories opt2**
=================================================== -->
        <section class="latest-stories white-bg padding-lg">
            <div class="container">
                <div class="row justify-content-center head-block">
                    <div class="col-md-10"> <span>Our Blog</span>
                        <h2>Read our latest Stories</h2>
                        <p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy</p>
                    </div>
                </div>
                <div class="card-deck blog-blocks">
                    <div class="card">
                        <div class="card-body">
                            <h3><a href="blog_grid.ejs">Lorem Ipsum is simply dummy text of the printin...</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been Lorem Ipsum has been the industry's... </p>
                            <span class="date">12 Dec 2017</span> </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3><a href="blog_grid.ejs">Lorem Ipsum is simply dummy text of the printin...</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been Lorem Ipsum has been the industry's... </p>
                            <span class="date">28 Oct 2017</span> </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3><a href="blog_grid.ejs">Lorem Ipsum is simply dummy text of the printin...</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been Lorem Ipsum has been the industry's... </p>
                            <span class="date">17 Oct 2017</span> </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Latest Stories opt3**
=================================================== -->
        <section class="latest-stories padding-lg">
            <div class="container">
                <div class="row justify-content-center head-block">
                    <div class="col-md-10"> <span>Our Blog</span>
                        <h2>Read our latest Stories</h2>
                        <p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy</p>
                    </div>
                </div>
                <div class="card-deck blog-blocks">
                    <div class="card">
                        <figure><img src="images/blog-img1.jpg" class="img-fluid" alt=""></figure>
                        <div class="card-body">
                            <h3><a href="blog_grid.ejs">Lorem Ipsum is simply dummy text of the printin...</a></h3>
                            <span class="date">10 Nov 2017</span> </div>
                    </div>
                    <div class="card">
                        <figure><img src="images/blog-img2.jpg" class="img-fluid" alt=""></figure>
                        <div class="card-body">
                            <h3><a href="blog_grid.ejs">Lorem Ipsum is simply dummy text of the printin...</a></h3>
                            <span class="date">22 Oct 2017</span> </div>
                    </div>
                    <div class="card">
                        <figure><img src="images/blog-img3.jpg" class="img-fluid" alt=""></figure>
                        <div class="card-body">
                            <h3><a href="blog_grid.ejs">Lorem Ipsum is simply dummy text of the printin...</a></h3>
                            <span class="date">18 Sep 2017</span> </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Latest Stories opt4**
=================================================== -->
        <section class="latest-stories white-bg padding-lg">
            <div class="container">
                <div class="row justify-content-center head-block">
                    <div class="col-md-10"> <span>Our Blog</span>
                        <h2>Read our latest Stories</h2>
                        <p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy</p>
                    </div>
                </div>
                <div class="card-deck blog-blocks">
                    <div class="card">
                        <div class="card-body">
                            <h3><a href="blog_grid.ejs">Lorem Ipsum is simply dummy text...</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been Lorem Ipsum has been the industry's... </p>
                            <span class="date">12 Nov 2017</span> </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3><a href="blog_grid.ejs">Lorem Ipsum is simply dummy text...</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been Lorem Ipsum has been the industry's... </p>
                            <span class="date">28 Oct 2017</span> </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Signup Section**
=================================================== -->
        <section class="signup-outer gradient-bg padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="clearfix">
                            <li> <span class="icon-men"></span>
                                <h4>Signup for an <span>Account</span></h4>
                            </li>
                            <li> <span class="icon-chat"></span>
                                <h4>Discuss with <span>our team</span></h4>
                            </li>
                            <li> <span class="icon-lap"></span>
                                <h4>Receive a <span>good support</span></h4>
                            </li>
                        </ul>
                        <div class="signup-form">
                            <form action="#" method="get">
                                <div class="email">
                                    <input name="email" type="text" placeholder="email">
                                </div>
                                <div class="password">
                                    <input name="password" type="password" placeholder="password">
                                </div>
                                <button class="signup-btn">Sign up Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Footer opt1**
=================================================== -->
        <% include part_element/footer.ejs%>

        <!-- Scroll to top --> 
        <a href="#" class="scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a> 

        <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
        <script src="js/jquery.min.js"></script> 
        <!-- Popper JS --> 
        <script src="js/popper.min.js"></script> 
        <!-- Bootsrap JS --> 
        <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
        <!-- Select2 JS --> 
        <script src="assets/select2/js/select2.min.js"></script> 
        <!-- Custom JS --> 
        <script src="js/custom.js"></script>
    </body>
</html>