<!DOCTYPE html>
<html lang="en">
    <% include part_element/head.ejs%>
    <body>

<!-- ==============================================
**Preloader**
=================================================== -->
        <div id="loader">
            <div id="element">
                <div class="circ-one"></div>
                <div class="circ-two"></div>
            </div>
        </div>

<!-- ==============================================
**Header**
=================================================== -->
        <% include part_element/header.ejs%>

<!-- ==============================================
**Inner Banner**
=================================================== -->
        <section class="inner-banner">
            <div class="container">
                <div class="contents">
                    <h1>Blog</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span>Lorem Ipsum has been the industry's standard dummy text ever since</span></p>
                </div>
            </div>
        </section>

<!-- ==============================================
**Blog section**
=================================================== -->
        <section class="blog-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-9">
                        <div class="blog-content">
                            <ul>
                                <li>
                                    <p class="time">December 30, <span>2017</span></p>
                                    <h5>Lorem Ipsum is simply dummy text of theprinting and typese theprinting ...</h5>
                                    <div class="box">
                                        <ul class="blog-info">
                                            <li class="comment">5623 <a href="#">Comments</a></li>
                                            <li class="like">5623 <a href="#">Likes</a></li>
                                        </ul>
                                        <ul class="blog-tag">
                                            <li><a href="#">Email Templaes</a></li>
                                            <li><a href="#">Html Editor</a></li>
                                        </ul>
                                    </div>
                                    <figure class="blog-pic"><img class="img-fluid" src="images/blog-wide-img-1.jpg" alt=""></figure>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to makeLorem Ipsum is simply dummy</p>
                                    <a href="blog_single.ejs" class="know-more">Know more</a> </li>
                                <li>
                                    <p class="time">November 19, <span>2017</span></p>
                                    <h5>Lorem Ipsum is simply dummy text of theprinting and typese theprinting ...</h5>
                                    <div class="box">
                                        <ul class="blog-info">
                                            <li class="comment">5623 <a href="#">Comments</a></li>
                                            <li class="like">5623 <a href="#">Likes</a></li>
                                        </ul>
                                        <ul class="blog-tag">
                                            <li><a href="#">Email Templaes</a></li>
                                            <li><a href="#">Html Editor</a></li>
                                        </ul>
                                    </div>
                                    <figure class="blog-pic"><img class="img-fluid" src="images/blog-wide-img-1.jpg" alt=""></figure>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to makeLorem Ipsum is simply dummy</p>
                                    <a href="blog_single.ejs" class="know-more">Know more</a> </li>
                                <li>
                                    <p class="time">October 08, <span>2017</span></p>
                                    <h5>Lorem Ipsum is simply dummy text of theprinting and typese theprinting ...</h5>
                                    <div class="box">
                                        <ul class="blog-info">
                                            <li class="comment">5623 <a href="#">Comments</a></li>
                                            <li class="like">5623 <a href="#">Likes</a></li>
                                        </ul>
                                        <ul class="blog-tag">
                                            <li><a href="#">Email Templaes</a></li>
                                            <li><a href="#">Html Editor</a></li>
                                        </ul>
                                    </div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to makeLorem Ipsum is simply dummy</p>
                                    <a href="blog_single.ejs" class="know-more">Know more</a> </li>
                                <li>
                                    <p class="time">September 21, <span>2017</span></p>
                                    <h5>Lorem Ipsum is simply dummy text of theprinting and typese theprinting ...</h5>
                                    <div class="box">
                                        <ul class="blog-info">
                                            <li class="comment">5623 <a href="#">Comments</a></li>
                                            <li class="like">5623 <a href="#">Likes</a></li>
                                        </ul>
                                        <ul class="blog-tag">
                                            <li><a href="#">Email Templaes</a></li>
                                            <li><a href="#">Html Editor</a></li>
                                        </ul>
                                    </div>
                                    <figure class="blog-pic"><img class="img-fluid" src="images/blog-wide-img-1.jpg" alt=""></figure>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to makeLorem Ipsum is simply dummy</p>
                                    <a href="blog_single.ejs" class="know-more">Know more</a> </li>
                            </ul>
                            <div class="paging-block">
                                <ul>
                                    <li><a href="#" class="prev"><span class="icon-left-arrow"></span></a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#" class="dots"><span class="icon-paging-dots"></span></a></li>
                                    <li><a href="#">43</a></li>
                                    <li><a href="#" class="next"><span class="icon-right-arrow"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
<!-- ==============================================
**Blog Sidebar**
=================================================== -->
                    <aside class="col-md-4 col-lg-3">
                        <div class="blog-sidebar"> 

                            <!--Start Categories-->
                            <div class="cmn-box">
                                <h4>Categories</h4>
                                <ul>
                                    <li><a href="#">Email <span class="count">65</span></a></li>
                                    <li><a href="#">Premium Templates <span class="count">25</span></a></li>
                                    <li><a href="#">Domain Registrations <span class="count">48</span></a></li>
                                    <li><a href="#">Grid <span class="count">70</span></a></li>
                                    <li><a href="#">API <span class="count">10</span></a></li>
                                    <li><a href="#">VPS <span class="count">34</span></a></li>
                                    <li><a href="#">(ve) Server <span class="count">25</span></a></li>
                                    <li><a href="#">(ve) ProCDN <span class="count">76</span></a></li>
                                </ul>
                            </div>
                            <!--End Categories--> 

                            <!--Start Archieves-->
                            <div class="cmn-box archive">
                                <h4>Archieves</h4>
                                <ul>
                                    <li><a href="#">December 22, 2017</a></li>
                                    <li><a href="#">November 20, 2017</a></li>
                                    <li><a href="#">October 18, 2017</a></li>
                                    <li><a href="#">September 16, 2017</a></li>
                                    <li><a href="#">August 15, 2017</a></li>
                                    <li><a href="#">July 12, 2017</a></li>
                                </ul>
                            </div>
                            <!--End Archieves--> 

                            <!--Start Recent Articles-->
                            <div class="cmn-box archive">
                                <h4>Recent Articles</h4>
                                <div class="article-box">
                                    <figure class="article-pic"><img class="img-fluid" src="images/blog-article-img-1.jpg" alt=""></figure>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                    <p class="time">December 10, <span>2017</span></p>
                                </div>
                                <div class="article-box">
                                    <figure class="article-pic"><img class="img-fluid" src="images/blog-article-img-2.jpg" alt=""></figure>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                    <p class="time">November 22, <span>2017</span></p>
                                </div>
                                <div class="article-box" style="padding-bottom:10px;">
                                    <figure class="article-pic"><img class="img-fluid" src="images/blog-article-img-3.jpg" alt=""></figure>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                    <p class="time">October 17, <span>2017</span></p>
                                </div>
                            </div>
                            <!--End Recent Articles--> 

                            <!--Start Tags-->
                            <div class="cmn-box tags">
                                <h4>Tags</h4>
                                <ul class="blog-tag">
                                    <li><a href="#">Email Templaes</a></li>
                                    <li><a href="#">Html Editor</a></li>
                                    <li><a href="#">Templates</a></li>
                                    <li><a href="#">Email</a></li>
                                    <li><a href="#">Editor</a></li>
                                    <li><a href="#">Email Templaes</a></li>
                                </ul>
                            </div>
                            <!--End Tags--> 

                        </div>
                    </aside>
                </div>
            </div>
        </section>

<!-- ==============================================
**Signup Section**
=================================================== -->
        <section class="signup-outer gradient-bg padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="clearfix">
                            <li> <span class="icon-men"></span>
                                <h4>Signup for an <span>Account</span></h4>
                            </li>
                            <li> <span class="icon-chat"></span>
                                <h4>Discuss with <span>our team</span></h4>
                            </li>
                            <li> <span class="icon-lap"></span>
                                <h4>Receive a <span>good support</span></h4>
                            </li>
                        </ul>
                        <div class="signup-form">
                            <form action="#" method="get">
                                <div class="email">
                                    <input name="email" type="text" placeholder="email">
                                </div>
                                <div class="password">
                                    <input name="password" type="password" placeholder="password">
                                </div>
                                <button class="signup-btn">Sign up Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Footer opt1**
=================================================== -->
        <% include part_element/footer.ejs%>

        <!-- Scroll to top --> 
        <a href="#" class="scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a> 

        <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
        <script src="js/jquery.min.js"></script> 
        <!-- Popper JS --> 
        <script src="js/popper.min.js"></script> 
        <!-- Bootsrap JS --> 
        <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
        <!-- Select2 JS --> 
        <script src="assets/select2/js/select2.min.js"></script> 
        <!-- Custom JS --> 
        <script src="js/custom.js"></script>
    </body>
</html>