<!DOCTYPE html>
<html lang="en">
    <% include part_element/head.ejs%>
    <body>

<!-- ==============================================
**Preloader**
=================================================== -->
        <div id="loader">
            <div id="element">
                <div class="circ-one"></div>
                <div class="circ-two"></div>
            </div>
        </div>

<!-- ==============================================
**Header**
=================================================== -->
        <% include part_element/header.ejs%>

<!-- ==============================================
**Inner Banner**
=================================================== -->
        <section class="inner-banner call-to-action-banner">
            <div class="container">
                <div class="contents">
                    <h1>Call to action blocks</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span>Lorem Ipsum has been the industry's standard dummy text ever since</span></p>
                </div>
            </div>
        </section>

<!-- ==============================================
**Call To Action**
=================================================== -->
        <section class="call-to-action"> 
            <!-- Start Block 1 -->
            <div class="call-action-box-large">
                <div class="container">
                    <h2>Try it yourself <span><strong>30 days</strong> </span>free</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                    <a class="btn orange" href="#">Get Started Now</a> </div>
            </div>
            <!-- End Block 1 --> 

            <!-- Start Block 2 -->
            <div class="call-action-bar blue mb-5">
                <div class="container">
                    <h2><span>Try it yourself <strong>30 days</strong> free </span><a class="btn orange" href="#">Get Started Now</a></h2>
                </div>
            </div>
            <!-- End Block 2 --> 

            <!-- Start Block 3 -->
            <div class="call-action-bar green mb-5">
                <div class="container">
                    <h2><span>Try it yourself <strong>30 days</strong> free </span><a class="btn border" href="#">Get Started Now</a></h2>
                </div>
            </div>
            <!-- End Block 3 --> 

            <!-- Start Block 4 -->
            <div class="call-action-bar orange mb-5">
                <div class="container">
                    <h2><span>Try it yourself <strong>30 days</strong> free </span><a class="btn green" href="#">Get Started Now</a></h2>
                </div>
            </div>
            <!-- End Block 4 --> 

            <!-- Start Block 5 -->
            <div class="call-action-bar bg mb-5">
                <div class="container">
                    <h4><span>Start the supporting system that you always.</span><a class="btn blue" href="#">Get Started Now</a></h4>
                </div>
            </div>
            <!-- End Block 5 --> 

            <!-- Start Block 6 -->
            <div class="call-action-bar bg">
                <div class="container">
                    <div class="download-box dark">
                        <div class="top">
                            <h2>Download now</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="bottom">
                            <div class="star-box"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                            <p class="small">Based on 3,000+ reviews</p>
                            <div class="button-box"> <a href="#"><img src="images/google-play.png" alt=""></a> <a href="#"><img src="images/apple-icon-black.png" alt=""></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Block 6 --> 

            <!-- Start Block 7 -->
            <div class="call-action-bar">
                <div class="container">
                    <div class="download-box border">
                        <div class="top">
                            <h2>Download now</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="bottom">
                            <div class="star-box"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                            <p class="small">Based on 3,000+ reviews</p>
                            <div class="button-box"> <a href="#"><img src="images/google-play-white.png" alt=""></a> <a href="#"><img src="images/apple-icon-white.png" alt=""></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Block 7 --> 

            <!-- Start Block 8 -->
            <div class="call-action-bar grey-bg">
                <div class="container">
                    <div class="download-box blank">
                        <div class="top">
                            <h2>Download now</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="bottom">
                            <div class="star-box"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                            <p class="small">Based on 3,000+ reviews</p>
                            <div class="button-box"> <a href="#"><img src="images/google-play-white.png" alt=""></a> <a href="#"><img src="images/apple-icon-white.png" alt=""></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Block 8 --> 

            <!-- Start Block 9 -->
            <div class="call-action-bar two-sided">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 order-2 order-md-12">
                            <figure class="call-action-img"><img src="images/call-action-img.png" alt=""></figure>
                        </div>
                        <div class="col-md-6 order-1 order-md-12">
                            <div class="download-box">
                                <div class="top">
                                    <h2>Download now</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                                <div class="bottom">
                                    <div class="star-box"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                    <p class="small">Based on 3,000+ reviews</p>
                                    <div class="button-box"> <a href="#"><img src="images/google-play-white.png" alt=""></a> <a href="#"><img src="images/apple-icon-white.png" alt=""></a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Block 9 --> 

            <!-- Start Block 10 -->
            <div class="call-action-bar gradient">
                <div class="container">
                    <p class="small">OWN IT</p>
                    <h2>Get It Now</h2>
                    <p class="large">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                    <hr>
                    <a class=" btn orange" href="#">Purchase  for <strong>$18</strong> </a>
                    <p class="small">or purchase an Extended License</p>
                </div>
            </div>
            <!-- End Block 10 --> 
        </section>

<!-- ==============================================
**Footer opt1**
=================================================== -->
        <% include part_element/footer.ejs%>

        <!-- Scroll to top --> 
        <a href="#" class="scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a> 

        <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
        <script src="js/jquery.min.js"></script> 
        <!-- Popper JS --> 
        <script src="js/popper.min.js"></script> 
        <!-- Bootsrap JS --> 
        <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
        <!-- Select2 JS --> 
        <script src="assets/select2/js/select2.min.js"></script> 
        <!-- Custom JS --> 
        <script src="js/custom.js"></script>
    </body>
</html>