<!DOCTYPE html>
<html lang="en">
        <% include part_element/head.ejs%>
    <body>

<!-- ==============================================
**Preloader**
=================================================== -->
        <div id="loader">
            <div id="element">
                <div class="circ-one"></div>
                <div class="circ-two"></div>
            </div>
        </div>

<!-- ==============================================
**Header**
=================================================== -->
        <% include part_element/header.ejs%>
<!-- ==============================================
**Inner Banner**
=================================================== -->
        <section class="inner-banner career-banner">
            <div class="container">
                <div class="contents">
                    <h1>Career at Protech</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span>Lorem Ipsum has been the industry's standard dummy text ever since</span></p>
                    <a href="#current-openings" class="get-started scroll-link">Opening Positions</a> </div>
            </div>
        </section>

<!-- ==============================================
**Success Everyday**
=================================================== -->
        <section class="success-everyday">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <h2>We ship Success everyday</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. when an unknown printer took a galleywhen an unknown printer took</p>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Career Our Values**
=================================================== -->
        <section class="career-our-values-sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Our Values</h3>
                        <ul class="row our-values">
                            <li class="col-md-6">
                                <div class="icon"><span class="icon-chair"></span></div>
                                <div class="text-area">
                                    <h6>Leave you in your comfort zone</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                                </div>
                            </li>
                            <li class="col-md-6">
                                <div class="icon"><span class="icon-simple"></span></div>
                                <div class="text-area">
                                    <h6>Keep it simple</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                                </div>
                            </li>
                            <li class="col-md-6">
                                <div class="icon"><span class="icon-focus"></span></div>
                                <div class="text-area">
                                    <h6>Focus on Results not Tasks</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                                </div>
                            </li>
                            <li class="col-md-6">
                                <div class="icon"><span class="icon-love"></span></div>
                                <div class="text-area">
                                    <h6>Do what you love</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                                </div>
                            </li>
                            <li class="col-md-6">
                                <div class="icon"><span class="icon-feedback"></span></div>
                                <div class="text-area">
                                    <h6>Give Feedback now, Directly</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                                </div>
                            </li>
                            <li class="col-md-6">
                                <div class="icon"><span class="icon-healthy"></span></div>
                                <div class="text-area">
                                    <h6>Keep you Healthy</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div class="our-perks">
                            <h3>Our Perks</h3>
                            <ul class="icon-tik-list">
                                <li>
                                    <h6>Lorem Ipsum is simply</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                </li>
                                <li>
                                    <h6>Lorem Ipsum is simply</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                </li>
                                <li>
                                    <h6>Lorem Ipsum is simply</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                </li>
                                <li>
                                    <h6>Lorem Ipsum</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Career Carousel**
=================================================== -->
        <section class="career-carousel">
            <ul id="owl-career" class="owl-carousel">
                <li class="item"><img src="images/career-carousel-img-1.jpg" alt=""></li>
                <li class="item"><img src="images/career-carousel-img-2.jpg" alt=""></li>
                <li class="item"><img src="images/career-carousel-img-3.jpg" alt=""></li>
                <li class="item"><img src="images/career-carousel-img-4.jpg" alt=""></li>
                <li class="item"><img src="images/career-carousel-img-2.jpg" alt=""></li>
                <li class="item"><img src="images/career-carousel-img-1.jpg" alt=""></li>
                <li class="item"><img src="images/career-carousel-img-3.jpg" alt=""></li>
                <li class="item"><img src="images/career-carousel-img-4.jpg" alt=""></li>
            </ul>
        </section>

<!-- ==============================================
**What can we do Sec**
=================================================== -->
        <section class="wht-can-we-do-outer padding-lg" id="current-openings">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 content-area">
                        <h2>Opening Positions</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="career-info-panel equal-hight">
                            <h3>Front-end Developer</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                            <ul>
                                <li>Photoshop</li>
                                <li>HTML5</li>
                                <li>CSS3</li>
                                <li>3+ Years Exp</li>
                            </ul>
                            <a class="btn apply-now" href="apply_job.ejs">Apply Now</a> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="career-info-panel equal-hight">
                            <h3>UI/UX Designer</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                            <ul>
                                <li>Photoshop</li>
                                <li>Illustrator</li>
                                <li>InDesign</li>
                                <li>2+ Years Exp</li>
                            </ul>
                            <a class="btn apply-now" href="apply_job.ejs">Apply Now</a> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="career-info-panel equal-hight">
                            <h3>Software Engineer</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                            <ul>
                                <li>PHP</li>
                                <li>Magento</li>
                                <li>Wordpress</li>
                                <li>4+ Years Exp</li>
                            </ul>
                            <a class="btn apply-now" href="apply_job.ejs">Apply Now</a> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="career-info-panel equal-hight">
                            <h3>Content Writer</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                            <ul>
                                <li>Journalism</li>
                                <li>Communication</li>
                                <li>Writing Skill</li>
                                <li>2+ Years Exp</li>
                            </ul>
                            <a class="btn apply-now" href="apply_job.ejs">Apply Now</a> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="career-info-panel equal-hight">
                            <h3>SEO</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                            <ul>
                                <li>Analytics</li>
                                <li>Link Building</li>
                                <li>Web Design</li>
                                <li>3+ Years Exp</li>
                            </ul>
                            <a class="btn apply-now" href="apply_job.ejs">Apply Now</a> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="career-info-panel equal-hight">
                            <h3>Software Tester</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                            <ul>
                                <li>Analytical</li>
                                <li>Orientation</li>
                                <li>Installation</li>
                                <li>5+ Years Exp</li>
                            </ul>
                            <a class="btn apply-now" href="apply_job.ejs">Apply Now</a> </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Signup Section**
=================================================== -->
        <section class="signup-outer gradient-bg padding-lg">
            <!--<div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="clearfix">
                            <li> <span class="icon-men"></span>
                                <h4>Signup for an <span>Account</span></h4>
                            </li>
                            <li> <span class="icon-chat"></span>
                                <h4>Discuss with <span>our team</span></h4>
                            </li>
                            <li> <span class="icon-lap"></span>
                                <h4>Receive a <span>good support</span></h4>
                            </li>
                        </ul>
                        <div class="signup-form">
                            <form action="#" method="get">
                                <div class="email">
                                    <input name="email" type="text" placeholder="email">
                                </div>
                                <div class="password">
                                    <input name="password" type="password" placeholder="password">
                                </div>
                                <button class="signup-btn">Sign up Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>-->
        </section>

<!-- ==============================================
**Footer opt1**
=================================================== -->
            <% include part_element/footer.ejs%>

        <!-- Scroll to top --> 
        <a href="#" class="scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a> 

        <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
        <script src="js/jquery.min.js"></script> 
        <!-- Popper JS --> 
        <script src="js/popper.min.js"></script> 
        <!-- Bootsrap JS --> 
        <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
        <!-- Select2 JS --> 
        <script src="assets/select2/js/select2.min.js"></script> 
        <!-- Owl Carousal JS --> 
        <script  src="assets/owl-carousel/js/owl.carousel.min.js"></script> 
        <!-- Match Height JS --> 
        <script src="assets/matchHeight/js/matchHeight-min.js"></script> 
        <!-- Custom JS --> 
        <script src="js/custom.js"></script>
        <!--Cookie JS-->
        <script src="js/jquery.cookie.js"></script>
    </body>
</html>