<!DOCTYPE html>
<html lang="en">
        <% include part_element/head.ejs%>
    <body>

<!-- ==============================================
**Preloader**
=================================================== -->
        <div id="loader">
            <div id="element">
                <div class="circ-one"></div>
                <div class="circ-two"></div>
            </div>
        </div>

<!-- ==============================================
**Header**
=================================================== -->
       <% include part_element/header.ejs%>

<!-- ==============================================
**Inner Banner**
=================================================== -->
        <section class="inner-banner components-banner">
            <div class="container">
                <div class="contents">
                    <h1>Components</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span>Lorem Ipsum has been the industry's standard dummy text ever since</span></p>
                </div>
            </div>
        </section>

<!-- ==============================================
**Form**
=================================================== -->
        <section class="components form-sec padding-lg">
            <div class="container">
                <div class="head-block">
                    <h2>Form</h2>
                </div>
                <div class="row">
                    <div class="col-md-8 form-area" >
                        <div class="contact-form-wrapper">
                            <form>
                                <div class="row">
                                    <div class="col-md-6 input-col">
                                        <label>Feild</label>
                                        <input name="first_name" placeholder="" type="text">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Feild 2</label>
                                        <input name="last_name" placeholder="" type="text" class="bg">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 input-col">
                                        <label>Dropdown 1</label>
                                        <select class="custom_select">
                                            <option value="">option1</option>
                                            <option value="">option2</option>
                                            <option value="">option3</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 input-col">
                                        <label>Dropdown 2</label>
                                        <div class="select-border-box">
                                            <select class="custom_select">
                                                <option value="">option1</option>
                                                <option value="">option2</option>
                                                <option value="">option3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 input-col">
                                        <label>Dropdown 3</label>
                                        <div class="bg">
                                            <select class="custom_select">
                                                <option value="">option1</option>
                                                <option value="">option2</option>
                                                <option value="">option3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-col">
                                        <label>Dropdown 4</label>
                                        <div class="bg select-box">
                                            <select class="custom_select">
                                                <option value="">option1</option>
                                                <option value="">option2</option>
                                                <option value="">option3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Message</label>
                                        <textarea placeholder=""></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="buttons-holder"> <a href="#" class="btn large orange">BUTTON</a> <a href="#" class="btn large blue">BUTTON</a> <a href="#" class="btn large green">BUTTON</a> <a href="#" class="btn large dark">BUTTON</a> <a href="#" class="btn large border">BUTTON</a> </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Accordion**
=================================================== -->
        <section class="components grey-bg padding-lg">
            <div class="container">
                <div class="head-block">
                    <h2>Accordion</h2>
                </div>
                <div class="career-accordian faq pt-0"> 
                    <!-- Start:accordion Career -->
                    <div id="accordion" role="tablist"> 

                        <!-- Start:accordion item 01 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne"> <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h3>Collapsible Group Item #1</h3>
                                </a> </div>
                            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy </p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 01 --> 

                        <!-- Start:accordion item 02 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo"> <a data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h3>Collapsible Group Item #2</h3>
                                </a> </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy </p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 02 --> 

                        <!-- Start:accordion item 03 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree"> <a data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h3>Collapsible Group Item #3</h3>
                                </a> </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy </p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 03 --> 

                        <!-- Start:accordion item 04 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFour"> <a data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <h3>Collapsible Group Item #4</h3>
                                </a> </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy </p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 04 --> 

                        <!-- Start:accordion item 05 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFive"> <a data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <h3>Collapsible Group Item #5</h3>
                                </a> </div>
                            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy </p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 05 --> 
                    </div>
                    <!-- End:accordion Career --> 
                </div>
            </div>
        </section>

<!-- ==============================================
**Horizontal Tab**
=================================================== -->
        <section class="components horizontal-tab padding-lg">
            <div class="container">
                <div class="head-block">
                    <h2>Horizontal Tab</h2>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a> </li>
                    <li class="nav-item"> <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a> </li>
                    <li class="nav-item"> <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a> </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Vertical Tab**
=================================================== -->
        <section class="components vertical-tab padding-lg grey-bg">
            <div class="container">
                <div class="head-block">
                    <h2>Vertical Tab</h2>
                </div>
                <div class="vertical-tab-outer pt-0 clearfix">
                    <div class="tab-area">
                        <div class="tabs-vertical"> 
                            <!-- Start : tab menu -->
                            <ul>
                                <li class="active" rel="tab-1">
                                    <figure class="icon-div"><img src="images/link-building-ico.png" class="rounded-circle img-fluid" alt=""></figure>
                                    <div class="text-div">
                                        <h4>TAB 1</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                                    </div>
                                </li>
                                <li rel="tab-2" class="">
                                    <figure class="icon-div"><img src="images/seo-succes-ico.png" class="rounded-circle img-fluid" alt=""></figure>
                                    <div class="text-div">
                                        <h4>TAB 2</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                                    </div>
                                </li>
                                <li rel="tab-3">
                                    <figure class="icon-div"><img src="images/audience-ico.png" class="rounded-circle img-fluid" alt=""></figure>
                                    <div class="text-div">
                                        <h4>TAB 3</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                                    </div>
                                </li>
                            </ul>
                            <!-- End : tab menu --> 
                        </div>
                        <!-- Start : accordion-container -->
                        <div class="tab-vertical-container"> 
                            <!-- Start : #accordion1 -->
                            <div class="tab-drawer-heading active-item" rel="tab-1">
                                <div class="text-div">
                                    <h4>TAB 1</h4>
                                </div>
                            </div>
                            <div id="tab-1" class="tab-vertical-content" >
                                <figure><img src="images/awesome-design-img.png" alt=""></figure>
                            </div>
                            <!-- End : #accordion1 --> 

                            <!-- Start : #accordion2 -->
                            <div class="tab-drawer-heading" rel="tab-2">
                                <div class="text-div">
                                    <h4>TAB 2</h4>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-vertical-content" >
                                <figure><img src="images/awesome-design-img.png" alt=""></figure>
                            </div>
                            <!-- End : #accordion2--> 

                            <!-- Start : #accordion3 -->
                            <div class="tab-drawer-heading" rel="tab-3">
                                <div class="text-div">
                                    <h4>TAB 3</h4>
                                </div>
                            </div>
                            <div id="tab-3" class="tab-vertical-content" >
                                <figure><img src="images/awesome-design-img.png" alt=""></figure>
                            </div>
                            <!-- End : #accordion3 --> 
                        </div>
                        <!-- End :accordion-container --> 
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Popup**
=================================================== -->
        <section class="components popup-outer padding-lg">
            <div class="container">
                <div class="head-block">
                    <h2>Popup</h2>
                </div>
                <ul class="popup-menu">
                    <li><a class="image-popup" href="images/lightbox-img-lg.jpg">Image</a></li>
                    <li><a class="video" href="https://www.youtube.com/watch?v=3xJzYpRVQVA">YouTube Video</a></li>
                    <li><a class="video" href="https://vimeo.com/45830194">Vimeo Video</a></li>
                    <li><a class="video" href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"> Google Map</a></li>
                </ul>
                <div class="popup-img"> <a class="image-popup" href="images/lightbox-img-lg.jpg"><span class="icon-expand"></span></a>
                    <figure><img src="images/lightbox-img.jpg" class="img-fluid" alt=""></figure>
                </div>
            </div>
        </section>

<!-- ==============================================
**Counter Up**
=================================================== -->
        <section class="components count-to-sec padding-lg">
            <div class="container">
                <div class="head-block">
                    <h2>Counter Up</h2>
                </div>
                <ul class="counter-listing">
                    <li> 
                        <span class="counter" data-num="2007">2007</span>
                        <span class="sub-title">ESTABLISHED IN</span>
                    </li>
                    <li>
                        <div class="couter-outer"><span class="counter" data-num="350">350</span><span>+</span></div>
                        <span class="sub-title">CLIENTS WORLD WIDE</span>
                    </li>
                    <li>
                        <div class="couter-outer"><span class="counter" data-num="950">950</span><span>+</span></div>
                        <span class="sub-title">PROJECTS COMPLETED</span>
                    </li>
                    <li>
                        <div class="couter-outer"><span class="counter" data-num="100">100</span><span>+</span></div>
                        <span class="sub-title">TEAM MEMBERS</span>
                    </li>
                </ul>
            </div>
        </section>

<!-- ==============================================
**Countdown**
=================================================== -->
        <section class="components count-down padding-lg grey-bg">
            <div class="container">
                <div class="head-block">
                    <h2>Count Down</h2>
                </div>
                <div class="countdown-1">
                    <div class="countdown-wrapper bg">
                        <ul class="count-dwn-cnt clearfix">
                            <li><span class="days count">88</span><span>Days</span></li>
                            <li><span class="hours count">11</span><span>Hours</span></li>
                            <li><span class="minutes count">21</span><span>Minutes</span></li>
                            <li><span class="seconds count">12</span><span>Seconds</span></li>
                        </ul>
                    </div>
                </div>
                <div class="countdown-2">
                    <div class="countdown-wrapper bg">
                        <ul class="count-dwn-cnt clearfix transparent">
                            <li><span class="days count">88</span><span>Days</span></li>
                            <li><span class="hours count">11</span><span>Hours</span></li>
                            <li><span class="minutes count">21</span><span>Minutes</span></li>
                            <li><span class="seconds count">12</span><span>Seconds</span></li>
                        </ul>
                    </div>
                </div>
                <div class="countdown-3">
                    <div class="countdown-wrapper">
                        <ul class="count-dwn-cnt clearfix color">
                            <li><span class="days count">88</span><span>Days</span></li>
                            <li><span class="hours count">11</span><span>Hours</span></li>
                            <li><span class="minutes count">21</span><span>Minutes</span></li>
                            <li><span class="seconds count">12</span><span>Seconds</span></li>
                        </ul>
                    </div>
                    <div class="countdown-wrapper">
                        <ul class="count-dwn-cnt clearfix border">
                            <li><span class="days count">88</span><span>Days</span></li>
                            <li><span class="hours count">11</span><span>Hours</span></li>
                            <li><span class="minutes count">21</span><span>Minutes</span></li>
                            <li><span class="seconds count">12</span><span>Seconds</span></li>
                        </ul>
                    </div>
                    <div class="countdown-wrapper">
                        <ul class="count-dwn-cnt clearfix blank">
                            <li><span class="days count">88</span><span>Days</span></li>
                            <li><span class="hours count">11</span><span>Hours</span></li>
                            <li><span class="minutes count">21</span><span>Minutes</span></li>
                            <li><span class="seconds count">12</span><span>Seconds</span></li>
                        </ul>
                    </div>
                    <div class="countdown-wrapper">
                        <ul class="count-dwn-cnt clearfix blank blue">
                            <li><span class="days count">88</span><span>Days</span></li>
                            <li><span class="hours count">11</span><span>Hours</span></li>
                            <li><span class="minutes count">21</span><span>Minutes</span></li>
                            <li><span class="seconds count">12</span><span>Seconds</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Carousel 1**
=================================================== -->
        <section class="components component-carousel padding-lg">
            <div class="container">
                <div class="head-block">
                    <h2>Carousel</h2>
                </div>
                <ul class="owl-carousel">
                    <li><img src="images/carousel-img1.jpg" class="img-fluid" alt=""></li>
                    <li><img src="images/carousel-img2.jpg" class="img-fluid" alt=""></li>
                    <li><img src="images/carousel-img1.jpg" class="img-fluid" alt=""></li>
                    <li><img src="images/carousel-img2.jpg" class="img-fluid" alt=""></li>
                    <li><img src="images/carousel-img1.jpg" class="img-fluid" alt=""></li>
                    <li><img src="images/carousel-img2.jpg" class="img-fluid" alt=""></li>
                </ul>
            </div>
        </section>

<!-- ==============================================
**Carousel 2**
=================================================== -->
        <section class="career-carousel">
            <ul id="owl-career" class="owl-carousel">
                <li class="item"><img src="images/career-carousel-img-1.jpg" alt=""></li>
                <li class="item"><img src="images/career-carousel-img-2.jpg" alt=""></li>
                <li class="item"><img src="images/career-carousel-img-3.jpg" alt=""></li>
                <li class="item"><img src="images/career-carousel-img-4.jpg" alt=""></li>
                <li class="item"><img src="images/career-carousel-img-2.jpg" alt=""></li>
                <li class="item"><img src="images/career-carousel-img-1.jpg" alt=""></li>
                <li class="item"><img src="images/career-carousel-img-3.jpg" alt=""></li>
                <li class="item"><img src="images/career-carousel-img-4.jpg" alt=""></li>
            </ul>
        </section>

<!-- ==============================================
**Signup Section**
=================================================== -->
        <section class="signup-outer gradient-bg padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="clearfix">
                            <li> <span class="icon-men"></span>
                                <h4>Signup for an <span>Account</span></h4>
                            </li>
                            <li> <span class="icon-chat"></span>
                                <h4>Discuss with <span>our team</span></h4>
                            </li>
                            <li> <span class="icon-lap"></span>
                                <h4>Receive a <span>good support</span></h4>
                            </li>
                        </ul>
                        <div class="signup-form">
                            <form action="#" method="get">
                                <div class="email">
                                    <input name="email" type="text" placeholder="email">
                                </div>
                                <div class="password">
                                    <input name="password" type="password" placeholder="password">
                                </div>
                                <button class="signup-btn">Sign up Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
** Footer opt1 **
=================================================== -->
       <% include part_element/footer.ejs%>

        <!-- Scroll to top --> 
        <a href="#" class="scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a> 

        <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
        <script src="js/jquery.min.js"></script> 
        <!-- Popper JS --> 
        <script src="js/popper.min.js"></script> 
        <!-- Bootsrap JS --> 
        <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
        <!-- Select2 JS --> 
        <script src="assets/select2/js/select2.min.js"></script> 
        <!-- Magnific Popup JS --> 
        <script src="assets/magnific-popup/js/magnific-popup.min.js"></script> 
        <!-- Bxslider JS --> 
        <script src="assets/bxslider/js/bxslider.min.js"></script> 
        <!-- Owl Carousal JS --> 
        <script src="assets/owl-carousel/js/owl.carousel.min.js"></script> 
        <!-- Counterup JS --> 
        <script src="assets/waypoints/js/waypoints.min.js"></script> 
        <!-- Counter Up JS --> 
        <script src="assets/counterup/js/counterup.min.js"></script> 
        <!-- Count Down JS --> 
        <script src="assets/countdown/js/countdown.js"></script> 
        <!-- Custom JS --> 
        <script src="js/custom.js"></script>
        <!--Cookie JS-->
        <script src="js/jquery.cookie.js"></script>
    </body>
</html>