<!DOCTYPE html>
<html lang="en">
<% include part_element/head.ejs %>
<body>

<!-- ==============================================
**Preloader**
=================================================== -->
<div id="loader">
    <div id="element">
        <div class="circ-one"></div>
        <div class="circ-two"></div>
    </div>
</div>

<!-- ==============================================
**Login**
=================================================== -->
<section class="login-outer">
    <div class="content-area">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container"><a id="homeUrl" href="" class="navbar-brand"><img src="../images/logo.png"
                                                                                     class="img-fluid" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" style="padding-left: 5%" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="dropdown5" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"><img data-language="setflag"
                                                                               src="../../assets/flags/4x3/us.svg"
                                                                               style="height: 17px;"></a>
                            <div class="dropdown-menu" style="min-width: auto; width: auto; padding: 20px 0;">
                                <a class="dropdown-item" id="enFlag" href="" data-callLang="en">
                                    <img src="../../assets/flags/4x3/us.svg" style="height: 24px;">
                                </a>
                                <a class="dropdown-item" id="ruFlag" href="" data-callLang="ru">
                                    <img src="../../assets/flags/4x3/ru.svg" style="height: 24px;">
                                </a>
                                <script language="javascript" type="text/javascript">
                                    var url = window.location.pathname
                                    var value = url.substring(url.lastIndexOf('/') + 1);
                                    document.getElementById("enFlag").href = url.replace(value, 'en');
                                    document.getElementById("ruFlag").href = url.replace(value, 'ru');
                                    var urlParams = window.location.pathname.split('/');
                                    var lang = urlParams[urlParams.length - 1];
                                    document.getElementById("homeUrl").href = "/" + lang;
                                </script>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="login-form-holder">
            <div class="inner">
                <div class="login-form">
                    <% if(lang === "en"){ %>
                    <h3>
                        Confirm
                    </h3>

                    <p>Email with confirmation code has been sent to email address indicated!<br/>Please check your
                        email and activate profile to proceed!</p><br/>
                    <form class="contact-form" method="post" action="http://multipos.io/confirmation/confirm">
                        <div class="mail">
                            <label>Email Address</label>
                            <input name="email" placeholder="" type="text" id="email">
                        </div>
                        <div class="password">
                            <label>Confirmation Code</label>
                            <input name="confirmationNumber" placeholder="" type="text" id="confirmationNumber">
                        </div>
                        <button class="btn login-btn" type="submit" id="confirm" name="submit">
                            Confirm
                        </button>
                    </form>
                    <% } else { %>
                        <h3>Подтверждение</h3>

                        <p>Email с кодом активации был отправлен на Вашу електроннею почту указанную при
                            регистрации!<br/> Пожалуйста, проверьте вашу электронную почту и активируйте профиль чтобы
                            продолжить!</p><br/>
                        <form class="contact-form" method="post" action="http://multipos.io/confirmation/confirm">
                            <div class="mail">
                                <label>Email Адрес</label>
                                <input name="email" placeholder="" type="text" id="email">
                            </div>
                            <div class="password">
                                <label>Код активации</label>
                                <input name="confirmationNumber" placeholder="" type="text" id="confirmationNumber">
                            </div>
                            <button class="btn login-btn" type="submit" id="confirm" name="submit">Подтвердить
                            </button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="box-hav-accnt">
                <% if(lang === "en"){ %>
                    <p>Don't have an account? <a id="signupUrl" href="">Sign up</a></p>
                <% } else { %>
                    <p>Ещё не зарегистрированы? <a id="signupUrl" href="">Регистрация</a></p>
                <% } %>
                <script language="javascript" type="text/javascript">
                    var urlParams = window.location.pathname.split('/');
                    var lang = urlParams[urlParams.length - 1];
                    document.getElementById("signupUrl").href = "/register/" + lang;
                </script>
            </div>
        </div>
    </div>
</section>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="../js/popper.min.js"></script>
<!-- Bootsrap JS -->
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<!-- Custom JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../js/custom.js"></script>
<script src="../js/jquery.cookie.js"></script>
<script src="../js/main.js"></script>
<script src="../../js/index.js"></script>
</body>
</html>