<!DOCTYPE html>
<html lang="en">
    <% include part_element/head.ejs%>
    <body>

<!-- ==============================================
**Preloader**
=================================================== -->
        <div id="loader">
            <div id="element">
                <div class="circ-one"></div>
                <div class="circ-two"></div>
            </div>
        </div>

<!-- ==============================================
**Header**
=================================================== -->
       <% include part_element/header.ejs%>

<!-- ==============================================
**Inner Banner**
=================================================== -->
        <section class="inner-banner">
            <div class="container">
                <div class="contents">
                    <h1>Faq</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span>Lorem Ipsum has been the industry's standard dummy text ever since</span></p>
                </div>
            </div>
        </section>

<!-- ==============================================
**FAQ**
=================================================== --> 

        <!-- Start General Enquiries -->
        <section class="wht-can-we-do-outer padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 content-area">
                        <h2>General Enquiries</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
                <div class="career-accordian faq"> 
                    <!-- Start:FAQ accordion -->
                    <div id="accordion" role="tablist"> 

                        <!-- Start:accordion item 01 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne"> <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h3>Lorem Ipsum is simply dummy?</h3>
                                </a> </div>
                            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 01 --> 

                        <!-- Start:accordion item 02 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo"> <a data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h3>Lorem Ipsum is simply dummy text of the printing?</h3>
                                </a> </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 02 --> 

                        <!-- Start:accordion item 03 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree"> <a data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h3>Lorem Ipsum is simply dummy text of the printing typesetting?</h3>
                                </a> </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 03 --> 

                        <!-- Start:accordion item 04 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFour"> <a data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <h3>Lorem Ipsum is simply dummy text?</h3>
                                </a> </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy </p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 04 --> 

                        <!-- Start:accordion item 05 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFive"> <a data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <h3>Lorem Ipsum is simply dummy?</h3>
                                </a> </div>
                            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 05 --> 

                    </div>
                    <!-- End:FAQ accordion --> 
                </div>
            </div>
        </section>
        <!-- End General Enquiries --> 

        <!-- Start Features -->
        <section class="wht-can-we-do-outer padding-lg bg-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 content-area">
                        <h2>Features</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
                <div class="career-accordian faq"> 
                    <!-- Start:FAQ accordion -->
                    <div id="accordion2" role="tablist"> 

                        <!-- Start:accordion item 01 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingSix"> <a data-toggle="collapse" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                <h3>Lorem Ipsum is simply dummy?</h3>
                                </a> </div>
                            <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion2">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 01 --> 

                        <!-- Start:accordion item 02 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingSeven"> <a data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                <h3>Lorem Ipsum is simply dummy text of the printing?</h3>
                                </a> </div>
                            <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion2">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 02 --> 

                        <!-- Start:accordion item 03 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingEight"> <a data-toggle="collapse" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                <h3>Lorem Ipsum is simply dummy text of the printing typesetting?</h3>
                                </a> </div>
                            <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordion2">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 03 --> 

                    </div>
                    <!-- End:FAQ accordion --> 
                </div>
            </div>
        </section>
        <!-- End Features --> 

        <!-- Start Permission & Privacy -->
        <section class="wht-can-we-do-outer padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 content-area">
                        <h2>Permission & Privacy</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
                <div class="career-accordian faq"> 
                    <!-- Start:FAQ accordion -->
                    <div id="accordion3" role="tablist"> 

                        <!-- Start:accordion item 01 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingNine"> <a data-toggle="collapse" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                                <h3>Lorem Ipsum is simply dummy?</h3>
                                </a> </div>
                            <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion3">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 01 --> 

                        <!-- Start:accordion item 02 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTen"> <a data-toggle="collapse" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                <h3>Lorem Ipsum is simply dummy text of the printing?</h3>
                                </a> </div>
                            <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen" data-parent="#accordion3">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 02 --> 

                        <!-- Start:accordion item 03 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingEleven"> <a data-toggle="collapse" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                <h3>Lorem Ipsum is simply dummy text of the printing typesetting?</h3>
                                </a> </div>
                            <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven" data-parent="#accordion3">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 03 --> 

                        <!-- Start:accordion item 04 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwelve"> <a data-toggle="collapse" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                <h3>Lorem Ipsum is simply dummy text?</h3>
                                </a> </div>
                            <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve" data-parent="#accordion3">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy </p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 04 --> 

                    </div>
                    <!-- End:FAQ accordion --> 
                </div>
            </div>
        </section>
        <!-- End Permission & Privacy --> 

        <!-- Start Pricing & Plans -->
        <section class="wht-can-we-do-outer padding-lg bg-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 content-area">
                        <h2>Pricing & Plans</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
                <div class="career-accordian faq"> 
                    <!-- Start:FAQ accordion -->
                    <div id="accordion4" role="tablist"> 

                        <!-- Start:accordion item 01 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThirteen"> <a data-toggle="collapse" href="#collapseThirteen" aria-expanded="true" aria-controls="collapseThirteen">
                                <h3>Lorem Ipsum is simply dummy?</h3>
                                </a> </div>
                            <div id="collapseThirteen" class="collapse" role="tabpanel" aria-labelledby="headingThirteen" data-parent="#accordion4">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 01 --> 

                        <!-- Start:accordion item 02 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFourteen"> <a data-toggle="collapse" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                <h3>Lorem Ipsum is simply dummy text of the printing?</h3>
                                </a> </div>
                            <div id="collapseFourteen" class="collapse" role="tabpanel" aria-labelledby="headingFourteen" data-parent="#accordion4">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 02 --> 

                        <!-- Start:accordion item 03 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFifteen"> <a data-toggle="collapse" href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                <h3>Lorem Ipsum is simply dummy text of the printing typesetting?</h3>
                                </a> </div>
                            <div id="collapseFifteen" class="collapse" role="tabpanel" aria-labelledby="headingFifteen" data-parent="#accordion4">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 03 --> 

                        <!-- Start:accordion item 04 -->
                        <div class="card">
                            <div class="card-header" role="tab" id="headingSixteen"> <a data-toggle="collapse" href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                                <h3>Lorem Ipsum is simply dummy text?</h3>
                                </a> </div>
                            <div id="collapseSixteen" class="collapse" role="tabpanel" aria-labelledby="headingSixteen" data-parent="#accordion4">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy </p>
                                </div>
                            </div>
                        </div>
                        <!-- End:accordion item 04 --> 

                    </div>
                    <!-- End:FAQ accordion --> 
                </div>
            </div>
        </section>
        <!-- End Pricing & Plans --> 

<!-- ==============================================
**Signup Section**
=================================================== -->
        <section class="signup-outer gradient-bg padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="clearfix">
                            <li> <span class="icon-men"></span>
                                <h4>Signup for an <span>Account</span></h4>
                            </li>
                            <li> <span class="icon-chat"></span>
                                <h4>Discuss with <span>our team</span></h4>
                            </li>
                            <li> <span class="icon-lap"></span>
                                <h4>Receive a <span>good support</span></h4>
                            </li>
                        </ul>
                        <div class="signup-form">
                            <form action="#" method="get">
                                <div class="email">
                                    <input name="email" type="text" placeholder="email">
                                </div>
                                <div class="password">
                                    <input name="password" type="password" placeholder="password">
                                </div>
                                <button class="signup-btn">Sign up Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Footer opt1**
=================================================== -->
     <% include part_element/footer.ejs%>

        <!-- Scroll to top --> 
        <a href="#" class="scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a> 

        <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
        <script src="js/jquery.min.js"></script> 
        <!-- Popper JS --> 
        <script src="js/popper.min.js"></script> 
        <!-- Bootsrap JS --> 
        <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
        <!-- Select2 JS --> 
        <script src="assets/select2/js/select2.min.js"></script> 
        <!-- Custom JS --> 
        <script src="js/custom.js"></script>
    </body>
</html>