<!DOCTYPE html>
<html lang="en">
    <% include part_element/head.ejs%>
    <body>

<!-- ==============================================
**Preloader**
=================================================== -->
        <div id="loader">
            <div id="element">
                <div class="circ-one"></div>
                <div class="circ-two"></div>
            </div>
        </div>

<!-- ==============================================
**Login**
=================================================== -->
        <section class="login-outer">
            <div class="content-area">
                <div class="login-form-holder">
                    <div class="inner">
                        <div class="login-form">
                            <h3>Login Now</h3>
                            <form class="contact-form" action="javascript:void(0);">
                                    <div class="mail">
                                    <label>Email Address</label>
                                    <input name="Email Address" placeholder="" type="text" id="email_now">
                                </div>
                                <div class="password">
                                    <label>Password</label>
                                    <input name="Password" placeholder="" type="text" id="password_now">
                                </div>
                                <div class="forgot">
                                    <label>
                                        <input value="" type="checkbox">
                                        <span>Remember me</span></label>
                                    <a href="#"><span class="q-mark">?</span>Forgot password</a> </div>
                                <button class="btn login-btn" type="submit" id="login_now" name="contact_submit">Login Now</button>
                            </form>
                        </div>
                        <div class="social-media-box">
                            <p>Or Sign In With</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-hav-accnt">
                        <p>Don't have an account? <a href="/register">Sign up</a></p>
                    </div>
                </div>
            </div>
        </section>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery.min.js"></script> 
        <!-- Popper JS --> 
        <script src="js/popper.min.js"></script> 
        <!-- Bootsrap JS --> 
        <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
        <!-- Custom JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/jquery.cookie.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>