<!DOCTYPE html>
<html lang="en">
        <% include part_element/head.ejs%>
    <body>

<!-- ==============================================
**Preloader**
=================================================== -->
        <div id="loader">
            <div id="element">
                <div class="circ-one"></div>
                <div class="circ-two"></div>
            </div>
        </div>

<!-- ==============================================
**Header**
=================================================== -->
        <% include part_element/header.ejs%>

<!-- ==============================================
**Inner Banner**
=================================================== -->
        <section class="inner-banner">
            <div class="container">
                <div class="contents">
                    <h1>Marketing Blocks</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span>Lorem Ipsum has been the industry's standard dummy text ever since</span></p>
                </div>
            </div>
        </section>

<!-- ==============================================
**Content Marketing opt1**
=================================================== -->
        <section class="content-marketing padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="head-block">
                            <h2>Audience First Content <span>Marketing</span></h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. when an unknown printer took a galleywhen an unknown printer took</p>
                        </div>
                    </div>
                </div>
                <ul class="row marketing-list">
                    <li class="col-md">
                        <div class="inner">
                            <figure><img src="images/scalable-link-ico.png" class="img-fluid" alt=""></figure>
                            <h3>Scalable Link Building Solutions</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been</p>
                            <a href="#" class="know-more">Know More</a> </div>
                    </li>
                    <li class="col-md">
                        <div class="inner">
                            <figure><img src="images/seo-success-ico.png" class="img-fluid" alt=""></figure>
                            <h3>Clear And Ethical GuidanceTo SEO Success</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been</p>
                            <a href="#" class="know-more">Know More</a> </div>
                    </li>
                    <li class="col-md">
                        <div class="inner">
                            <figure><img src="images/content-marketing-ico.png" class="img-fluid" alt=""></figure>
                            <h3>Audience First Content Marketing</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been</p>
                            <a href="#" class="know-more">Know More</a> </div>
                    </li>
                </ul>
            </div>
        </section>
        <hr>

<!-- ==============================================
**Content Marketing opt2**
=================================================== -->
        <section class="content-marketing content-marketing3 padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="head-block">
                            <h2>Audience First Content <span>Marketing</span></h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. when an unknown printer took a galleywhen an unknown printer took</p>
                        </div>
                    </div>
                </div>
                <ul class="row marketing-list2">
                    <li class="col-md">
                        <figure class="icon"><img src="images/marketing-ico1.png" alt=""></figure>
                        <h3>Scalable Link Building Solutions</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</p>
                    </li>
                    <li class="col-md">
                        <figure class="icon"><img src="images/marketing-ico2.png" alt=""></figure>
                        <h3>Ethical Guidance To SEO Success</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</p>
                    </li>
                    <li class="col-md">
                        <figure class="icon"><img src="images/marketing-ico3.png" class="img-fluid" alt=""></figure>
                        <h3>Audience First Content Marketing</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</p>
                    </li>
                </ul>
            </div>
        </section>
        <hr>

<!-- ==============================================
**Content Marketing opt3**
=================================================== -->
        <section class="content-marketing content-marketing3 padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="head-block">
                            <h2>Audience First Content <span>Marketing</span></h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. when an unknown printer took a galleywhen an unknown printer took</p>
                        </div>
                    </div>
                </div>
                <ul class="row marketing-list3">
                    <li class="col-md-6">
                        <div class="equal-hight clearfix">
                            <div class="ico-block"><img src="images/link-building-ico.png" class="rounded-circle img-fluid" alt=""></div>
                            <div class="cnt-block">
                                <h3>Scalable Link Building Solutions</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
                                <a href="#"><span class="icon-know-more-arrow"></span></a> </div>
                        </div>
                    </li>
                    <li class="col-md-6">
                        <div class="equal-hight clearfix">
                            <div class="ico-block"><img src="images/seo-succes-ico.png" class="rounded-circle img-fluid" alt=""></div>
                            <div class="cnt-block">
                                <h3>Clear And Ethical Guidance to SEO Success</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
                                <a href="#"><span class="icon-know-more-arrow"></span></a> </div>
                        </div>
                    </li>
                    <li class="col-md-6">
                        <div class="equal-hight clearfix">
                            <div class="ico-block"><img src="images/audience-ico.png" class="rounded-circle img-fluid" alt=""></div>
                            <div class="cnt-block">
                                <h3>Audience First Content Marketing</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
                                <a href="#"><span class="icon-know-more-arrow"></span></a> </div>
                        </div>
                    </li>
                    <li class="col-md-6">
                        <div class="equal-hight clearfix">
                            <div class="ico-block"><img src="images/privacy-ico.png" class="rounded-circle img-fluid" alt=""></div>
                            <div class="cnt-block">
                                <h3>Always in control of your privacy</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
                                <a href="#"><span class="icon-know-more-arrow"></span></a> </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

<!-- ==============================================
**Signup Section**
=================================================== -->
        <section class="signup-outer gradient-bg padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="clearfix">
                            <li> <span class="icon-men"></span>
                                <h4>Signup for an <span>Account</span></h4>
                            </li>
                            <li> <span class="icon-chat"></span>
                                <h4>Discuss with <span>our team</span></h4>
                            </li>
                            <li> <span class="icon-lap"></span>
                                <h4>Receive a <span>good support</span></h4>
                            </li>
                        </ul>
                        <div class="signup-form">
                            <form action="#" method="get">
                                <div class="email">
                                    <input name="email" type="text" placeholder="email">
                                </div>
                                <div class="password">
                                    <input name="password" type="password" placeholder="password">
                                </div>
                                <button class="signup-btn">Sign up Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Footer opt1**
=================================================== -->
        <% include part_element/footer.ejs%>

        <!-- Scroll to top --> 
        <a href="#" class="scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a> 

        <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
        <script src="js/jquery.min.js"></script> 
        <!-- Popper JS --> 
        <script src="js/popper.min.js"></script> 
        <!-- Bootsrap JS --> 
        <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
        <!-- Select2 JS --> 
        <script src="assets/select2/js/select2.min.js"></script> 
        <!-- Match Height JS --> 
        <script src="assets/matchHeight/js/matchHeight-min.js"></script> 
        <!-- Custom JS --> 
        <script src="js/custom.js"></script>
    </body>
</html>