<!DOCTYPE html>
<html lang="en">
        <% include part_element/head.ejs%>
    <body>

<!-- ==============================================
**Preloader**
=================================================== -->
        <div id="loader">
            <div id="element">
                <div class="circ-one"></div>
                <div class="circ-two"></div>
            </div>
        </div>

<!-- ==============================================
**Header**
=================================================== -->
      <% include part_element/header.ejs%>

<!-- ==============================================
**Inner Banner**
=================================================== -->
        <section class="inner-banner pricing-banner">
            <div class="container">
                <div class="contents">
                    <h1>Pricing</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span>Lorem Ipsum has been the industry's standard dummy text ever since</span></p>
                </div>
            </div>
        </section>

<!-- ==============================================
**Select Sutable Pricing**
=================================================== -->
        <section class="select-pricing-plan padding-lg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <h2>Select Your Most Sutable Plan or Pricing</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        <p>Cummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been</p>
                    </div>
                    <div class="col-lg-7">
                        <figure> <img src="images/select-pricing-img.png" class="img-fluid" alt=""> </figure>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Choose Pack**
=================================================== -->
        <section class="choose-pack padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <h2>Choose a Pack to Buy</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been</p>
                    </div>
                </div>
                <ul class="row">
                    <li class="col-md">
                        <div class="inner">
                            <div class="head-block">
                                <div class="plan-title"> <span>Beginner</span>
                                    <h3>Start with 5 Hour</h3>
                                </div>
                                <div class="price">
                                    <div class="graph"><span class="org"></span><span></span><span></span></div>
                                    <div class="right">
                                        <div class="amt">7<sup>$</sup></div>
                                        <div class="month">Per Month</div>
                                    </div>
                                </div>
                            </div>
                            <div class="cnt-block">
                                <ul>
                                    <li>Lorem Ipsum simply</li>
                                    <li>Simply dummy text</li>
                                    <li>Dummy text of the printing</li>
                                    <li>Typesetting industry</li>
                                </ul>
                                <span class="you-choose">You will Save $20</span> <a href="#" class="btn get-started">Get Started Now</a> </div>
                        </div>
                    </li>
                    <li class="col-md">
                        <div class="inner">
                            <div class="head-block">
                                <div class="plan-title"> <span>Growth</span>
                                    <h3>Start with 10 Hour</h3>
                                </div>
                                <div class="price">
                                    <div class="graph"><span class="org"></span><span class="org"></span><span></span></div>
                                    <div class="right">
                                        <div class="amt">10<sup>$</sup></div>
                                        <div class="month">Per Month</div>
                                    </div>
                                </div>
                            </div>
                            <div class="cnt-block">
                                <ul>
                                    <li>Lorem Ipsum simply</li>
                                    <li>Simply dummy text</li>
                                    <li>Dummy text of the printing</li>
                                    <li>Typesetting industry</li>
                                </ul>
                                <span class="you-choose">You will Save $20</span> <a href="#" class="btn get-started">Get Started Now</a> </div>
                        </div>
                    </li>
                    <li class="col-md active">
                        <div class="inner">
                            <div class="head-block">
                                <div class="plan-title"> <span>Beginner</span>
                                    <h3>Start with 20 Hour</h3>
                                </div>
                                <div class="price">
                                    <div class="graph"><span class="org"></span><span class="org"></span><span class="org"></span></div>
                                    <div class="right">
                                        <div class="amt">15<sup>$</sup></div>
                                        <div class="month">Per Month</div>
                                    </div>
                                </div>
                            </div>
                            <div class="cnt-block">
                                <ul>
                                    <li>Lorem Ipsum simply</li>
                                    <li>Simply dummy text</li>
                                    <li>Dummy text of the printing</li>
                                    <li>Typesetting industry</li>
                                </ul>
                                <span class="you-choose">You will Save $20</span> <a href="#" class="btn get-started">Get Started Now</a> </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

<!-- ==============================================
**Plan and Features**
=================================================== -->
        <section class="plan-features-sec padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center">
                        <h2>Compare Plans & Features</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy</p>
                    </div>
                </div>
                <div class="plan-table-holder">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th> <div class="head-block"> <span>Beginner</span>
                                    <p>Cummy text of the printing and typesetting industry. </p>
                                    <div class="price">
                                        <div class="amnt">7<sup>$</sup></div>
                                        <p>Per Month</p>
                                    </div>
                                    </div>
                                </th>
                                <th><div class="head-block"> <span>Growth</span>
                                    <p>Cummy text of the printing and typesetting industry. </p>
                                    <div class="price">
                                        <div class="amnt">10<sup>$</sup></div>
                                        <p>Per Month</p>
                                    </div>
                                    </div></th>
                                <th><div class="head-block"> <span>Premium</span>
                                    <p>Cummy text of the printing and typesetting industry. </p>
                                    <div class="price active">
                                        <div class="amnt">15<sup>$</sup></div>
                                        <p>Per Month</p>
                                    </div>
                                    </div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="icon-play-btn"></span> Lorem Ipsum simply</td>
                                <td>Unlimitted</td>
                                <td>Unlimitted</td>
                                <td>Unlimitted</td>
                            </tr>
                            <tr>
                                <td><span class="icon-play-btn"></span> Simply dummy text</td>
                                <td>Unlimitted</td>
                                <td>Unlimitted</td>
                                <td>Unlimitted</td>
                            </tr>
                            <tr>
                                <td><span class="icon-play-btn"></span> Dummy text of the</td>
                                <td>Unlimitted</td>
                                <td>Unlimitted</td>
                                <td>Unlimitted</td>
                            </tr>
                            <tr>
                                <td><span class="icon-play-btn"></span> Typesetting industry</td>
                                <td><span class="icon-close-circle"></span></td>
                                <td><span class="icon-tick-circle"></span></td>
                                <td><span class="icon-tick-circle"></span></td>
                            </tr>
                            <tr>
                                <td><span class="icon-play-btn"></span> Lorem Ipsum simply</td>
                                <td><span class="icon-tick-circle"></span></td>
                                <td><span class="icon-tick-circle"></span></td>
                                <td><span class="icon-tick-circle"></span></td>
                            </tr>
                            <tr>
                                <td><span class="icon-play-btn"></span> Simply dummy text</td>
                                <td><span class="icon-close-circle"></span></td>
                                <td><span class="icon-close-circle"></span></td>
                                <td><span class="icon-tick-circle"></span></td>
                            </tr>
                            <tr>
                                <td><span class="icon-play-btn"></span> Dummy text</td>
                                <td><span class="icon-tick-circle"></span></td>
                                <td><span class="icon-tick-circle"></span></td>
                                <td><span class="icon-tick-circle"></span></td>
                            </tr>
                            <tr>
                                <td><span class="icon-play-btn"></span> Simply dummy text</td>
                                <td><span class="icon-tick-circle"></span></td>
                                <td><span class="icon-tick-circle"></span></td>
                                <td><span class="icon-tick-circle"></span></td>
                            </tr>
                            <tr>
                                <td><span class="icon-play-btn"></span> Dummy text</td>
                                <td><span class="icon-close-circle"></span></td>
                                <td><span class="icon-close-circle"></span></td>
                                <td><span class="icon-tick-circle"></span></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th><a href="#" class="btn get-started">Get Started Now</a></th>
                                <th><a href="#" class="btn get-started">Get Started Now</a></th>
                                <th><a href="#" class="btn get-started">Get Started Now</a></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>

<!-- ==============================================
**Our Features**
=================================================== -->
        <section class="client-speak our-features padding-lg">
            <div class="container">
                <div class="row justify-content-center head-block">
                    <div class="col-md-10"> <span>Our Features</span>
                        <h2>We are Awesome but<br>
                            Don't take our words for it</h2>
                        <p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy</p>
                    </div>
                </div>
                <ul class="row features-listing">
                    <li class="col-md-4">
                        <div class="inner"> <span class="icon"><img src="images/features-ico1.png" alt=""></span>
                            <h3>Data Analytics</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="inner"> <span class="icon"><img src="images/features-ico2.png" alt=""></span>
                            <h3>Fully Responsive</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="inner"> <span class="icon"><img src="images/features-ico3.png" alt=""></span>
                            <h3>Customer Support</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="inner"> <span class="icon"><img src="images/features-ico4.png" alt=""></span>
                            <h3>Advanced Solution</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="inner"> <span class="icon"><img src="images/features-ico5.png" alt=""></span>
                            <h3>Additional Functions</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="inner"> <span class="icon"><img src="images/features-ico6.png" alt=""></span>
                            <h3>Perfect Grafic View</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

<!-- ==============================================
**Need to Discuss Sec**
=================================================== -->
        <section class="need-to-discuss padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 head-block">
                        <h2>Need to Discuss with Us</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
                <div class="submit-form row">
                    <div class="col-md-6">
                        <input name="First Name" placeholder="First Name" type="text">
                    </div>
                    <div class="col-md-6">
                        <input name="Last Name" placeholder="Last Name" type="text">
                    </div>
                    <div class="col-md-6">
                        <input name="Company" placeholder="Company" type="text">
                    </div>
                    <div class="col-md-6">
                        <input name="Phone Number" placeholder="Phone Number" type="text">
                    </div>
                    <div class="col-md-6">
                        <input name="Business Mail" placeholder="Business Mail" type="text">
                    </div>
                    <div class="col-md-6">
                        <input name="Job Title" placeholder="Job Title" type="text">
                    </div>
                    <div class="col-md-12">
                        <button class="submit-btn">Submit Now</button>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Still Have Questains Sec**
=================================================== -->
        <section class="still-hav-qtns-outer padding-lg">
            <div class="container">
                <h2>Still have questions?</h2>
                <ul class="row features-listing">
                    <li class="col-md-4 equal-hight">
                        <div class="info-content"> <span class="icon-holder"><img src="images/stil-hav-sec-icon-1.png" alt=""></span>
                            <h3>Help Center</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                            <a href="support.ejs" class="know-more">Know more</a> </div>
                    </li>
                    <li class="col-md-4 equal-hight">
                        <div class="info-content"> <span class="icon-holder"><img src="images/stil-hav-sec-icon-2.png" alt=""></span>
                            <h3>Faqs</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                            <a href="faq.ejs" class="know-more">Know more</a> </div>
                    </li>
                    <li class="col-md-4 equal-hight">
                        <div class="info-content"> <span class="icon-holder"><img src="images/stil-hav-sec-icon-3.png" alt=""></span>
                            <h3>Technical Documents</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                            <a href="#" class="know-more">Know more</a> </div>
                    </li>
                </ul>
            </div>
        </section>

<!-- ==============================================
**Signup Section**
=================================================== -->
        <section class="signup-outer gradient-bg padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="clearfix">
                            <li> <span class="icon-men"></span>
                                <h4>Signup for an <span>Account</span></h4>
                            </li>
                            <li> <span class="icon-chat"></span>
                                <h4>Discuss with <span>our team</span></h4>
                            </li>
                            <li> <span class="icon-lap"></span>
                                <h4>Receive a <span>good support</span></h4>
                            </li>
                        </ul>
                        <div class="signup-form">
                            <form action="#" method="get">
                                <div class="email">
                                    <input name="email" type="text" placeholder="email">
                                </div>
                                <div class="password">
                                    <input name="password" type="password" placeholder="password">
                                </div>
                                <button class="signup-btn">Sign up Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Footer opt1**
=================================================== -->
      <% include part_element/footer.ejs%>

        <!-- Scroll to top --> 
        <a href="#" class="scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a> 

        <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
        <script src="js/jquery.min.js"></script> 
        <!-- Popper JS --> 
        <script src="js/popper.min.js"></script> 
        <!-- Bootsrap JS --> 
        <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
        <!-- Select2 JS --> 
        <script src="assets/select2/js/select2.min.js"></script> 
        <!-- Custom JS --> 
        <script src="js/custom.js"></script>
    </body>
</html>