<!DOCTYPE html>
<html lang="en">
        <% include part_element/head.ejs%>
    <body>

<!-- ==============================================
**Preloader**
=================================================== -->
        <div id="loader">
            <div id="element">
                <div class="circ-one"></div>
                <div class="circ-two"></div>
            </div>
        </div>

<!-- ==============================================
**Register**
=================================================== -->
        <section class="login-outer">
            <div class="content-area">
                <div class="login-form-holder">
                    <div class="inner">
                        <div class="login-form">
                            <h3>Register Now</h3>
                            <form>
                                <div class="user-name">
                                    <label>User Name</label>
                                    <input name="User Name" placeholder="" type="text">
                                </div>
                                <div class="mail">
                                    <label>Email Address</label>
                                    <input name="Email Address" placeholder="" type="text">
                                </div>
                                <div class="password">
                                    <label>Password</label>
                                    <input name="Password" placeholder="" type="text">
                                </div>
                                <div class="confirm-password">
                                    <label>Confirm Password</label>
                                    <input name="Confirm Password" placeholder="" type="text">
                                </div>
                                <div class="terms">
                                    <label>
                                        <input value="" type="checkbox">
                                        <span>I agree to all <a href="">terms</a></span></label>
                                </div>
                                <div class="login-btn-sec">
                                    <button class=" btn login-btn">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="box-hav-accnt">
                        <p>Already have an account? <a href="login.ejs">Sign in</a></p>
                    </div>
                </div>
            </div>
        </section>

        <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
        <script src="js/jquery.min.js"></script> 
        <!-- Popper JS --> 
        <script src="js/popper.min.js"></script> 
        <!-- Bootsrap JS --> 
        <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
        <!-- Select2 JS --> 
        <script src="assets/select2/js/select2.min.js"></script> 
        <!-- Custom JS --> 
        <script src="js/custom.js"></script>
    </body>
</html>