<!DOCTYPE html>
<html lang="en">
        <% include part_element/head.ejs%>
    <body>

<!-- ==============================================
**Preloader**
=================================================== -->

        <div id="loader">
            <div id="element">
                <div class="circ-one"></div>
                <div class="circ-two"></div>
            </div>
        </div>

<!-- ==============================================
**Register**
=================================================== -->
<section class="login-outer">
    <div class="content-area">


        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container"> <a href="/" class="navbar-brand"><img src="images/logo.png" class="img-fluid" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                <div class="collapse navbar-collapse" style="padding-left: 5%" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto"></ul>

                </div>
            </div>
        </nav>
        <div class="login-form-holder" style="padding: 20px;">
            <div class="inner">
                <div class="login-form">
                    <h3>Register Now</h3>
                    <form action="javascript:void(0);">
                        <div class="first-name" >
                            <label>First Name</label>
                            <input name="First Name" placeholder="" type="text" id="billing_first_name">
                        </div>
                        <div class="last-name" >
                            <label>Last Name</label>
                            <input name="Last Name" placeholder="" type="text" id="billing_last_name">
                        </div>
                        <div class="company-name" >
                            <label>Company Name</label>
                            <input name="Company Name" placeholder="" type="text" id="billing_company_name">
                        </div>
                        <div class="mail" >
                            <label>Email Address</label>
                            <input name="Email Address" placeholder="" type="text" id="billing_email">
                        </div>
                        <div class="password" >
                            <label>Password</label>
                            <input name="Password" placeholder="" type="text" id="billing_password">
                        </div>
                        <div class="confirm-password" >
                            <label>Confirm Password</label>
                            <input name="Confirm Password" placeholder="" type="text" id="confirm_password">
                        </div>
                        <div class="terms">
                            <label>
                                <input value="" type="checkbox">
                                <span>I agree to all <a href="">terms</a></span></label>
                        </div>
                        <div class="login-btn-sec">
                            <button id="register_now" class="btn login-btn">Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-hav-accnt">
                <p>Already have an account? <a href="/login">Sign in</a></p>
            </div>
        </div>
    </div>
</section>

        <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
        <script src="js/jquery.min.js"></script> 
        <!-- Popper JS --> 
        <script src="js/popper.min.js"></script> 
        <!-- Bootsrap JS --> 
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <!--<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/2.1.1/jquery.validate.min.js"></script>-->
        <!--<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/2.1.1/additional-methods.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!-- Select2 JS --> 
        <script src="assets/select2/js/select2.min.js"></script> 
        <!-- Custom JS --> 
        <script src="js/custom.js"></script>
        <script src="js/jquery.cookie.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>