<!DOCTYPE html>
<html lang="en">
        <% include part_element/head.ejs%>
    <body>

<!-- ==============================================
**Preloader**
=================================================== -->
        <div id="loader">
            <div id="element">
                <div class="circ-one"></div>
                <div class="circ-two"></div>
            </div>
        </div>

<!-- ==============================================
**Header**
=================================================== -->
<% include part_element/header.ejs%>

<!-- ==============================================
**Inner Banner**
=================================================== -->
        <section class="inner-banner">
            <div class="container">
                <div class="contents">
                    <h1>Support</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span>Lorem Ipsum has been the industry's standard dummy text ever since</span></p>
                </div>
            </div>
        </section>

<!-- ==============================================
**Contact Info**
=================================================== -->
        <section class="contact-outer padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        <ul class="row contact-list">
                            <li class="col-md-4">
                                <div class="inner equal-hight">
                                    <div class="icon"><span class="icon-contact"></span></div>
                                    <h3>Contact Info</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                                    <div class="call"><span class="icon-phone"></span> (000) 000-0000</div>
                                    <a href="mailto:info@protech.com" class="mail-to"><span class="icon-mail"></span> info@protech.com</a> </div>
                            </li>
                            <li class="col-md-4">
                                <div class="inner equal-hight">
                                    <div class="icon"><span class="icon-live-chat"></span></div>
                                    <h3>Live Chat</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                                    <a href="#" class="live-chat"><span class="icon-chat-bubble"></span> Live Chat</a> </div>
                            </li>
                            <li class="col-md-4">
                                <div class="inner equal-hight">
                                    <div class="icon"><span class="icon-support-ticket"></span></div>
                                    <h3>Support Tickets</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                                    <a href="#" class="live-chat support">Support</a> </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Start Support Request -->
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8">
                        <div class="support-request">
                            <h2>Support Request</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                            <form action="#" method="get" class="support-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input name="Name" type="text" placeholder="Name">
                                        <input name="Email" type="text" placeholder="Email">
                                    </div>
                                    <div class="col-md-6">
                                        <textarea name="Mesage" placeholder="Mesage"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="submit-btn">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Advices and Answers**
=================================================== -->
        <section class="advices-outer padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8">
                        <h2>Advice and answers from Our Team</h2>
                        <form action="#" method="get" class="search-outer d-flex">
                            <input name="Search" type="text" placeholder="Search">
                            <button class="go-btn"><span class="icon-search"></span></button>
                        </form>
                    </div>
                </div>
                <ul class="row features-listing">
                    <li class="col-md-4">
                        <div class="inner"> <span class="icon"><img src="images/info-ico.png" alt=""></span>
                            <h3>Information about <span>Protech portal</span></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="inner"> <span class="icon"><img src="images/payment-ico.png" alt=""></span>
                            <h3>Protech portal <span>Payment</span></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="inner"> <span class="icon"><img src="images/paying-ico.png" alt=""></span>
                            <h3>Paying with <span>Protech portal</span></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="inner"> <span class="icon"><img src="images/wallet-ico.png" alt=""></span>
                            <h3>Secure Your <span>Payment Method</span></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="inner"> <span class="icon"><img src="images/building-ico.png" alt=""></span>
                            <h3>Businesses & <span>Organizations</span></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="inner"> <span class="icon"><img src="images/doc-ico.png" alt=""></span>
                            <h3>Protech portal <span>Documentation</span></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since been</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

<!-- ==============================================
**Signup Section**
=================================================== -->
        <section class="signup-outer gradient-bg padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="clearfix">
                            <li> <span class="icon-men"></span>
                                <h4>Signup for an <span>Account</span></h4>
                            </li>
                            <li> <span class="icon-chat"></span>
                                <h4>Discuss with <span>our team</span></h4>
                            </li>
                            <li> <span class="icon-lap"></span>
                                <h4>Receive a <span>good support</span></h4>
                            </li>
                        </ul>
                        <div class="signup-form">
                            <form action="#" method="get">
                                <div class="email">
                                    <input name="email" type="text" placeholder="email">
                                </div>
                                <div class="password">
                                    <input name="password" type="password" placeholder="password">
                                </div>
                                <button class="signup-btn">Sign up Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Footer opt1**
=================================================== -->
        <% include part_element/footer.ejs%>

        <!-- Scroll to top --> 
        <a href="#" class="scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a> 

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery.min.js"></script> 
        <!-- Popper JS --> 
        <script src="js/popper.min.js"></script> 
        <!-- Bootsrap JS --> 
        <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
        <!-- Select2 JS --> 
        <script src="assets/select2/js/select2.min.js"></script> 
        <!-- Match Height JS --> 
        <script src="assets/matchHeight/js/matchHeight-min.js"></script> 
        <!-- Custom JS --> 
        <script src="js/custom.js"></script>
    </body>
</html>