<!DOCTYPE html>
<html lang="en">
    <% include part_element/head.ejs%>
    <body>

<!-- ==============================================
**Preloader**
=================================================== -->
        <div id="loader">
            <div id="element">
                <div class="circ-one"></div>
                <div class="circ-two"></div>
            </div>
        </div>

<!-- ==============================================
**Header**
=================================================== -->
        <% include part_element/header.ejs%>

<!-- ==============================================
**Inner Banner**
=================================================== -->
        <section class="inner-banner">
            <div class="container">
                <div class="contents">
                    <h1>Team Blocks</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span>Lorem Ipsum has been the industry's standard dummy text ever since</span></p>
                </div>
            </div>
        </section>

<!-- ==============================================
**Our Team Section 1**
=================================================== -->
        <section class="our-team-outer padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <h2>Creative Team</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
                <ul class="row team-listing">
                    <li class="col-md-6 col-lg-3">
                        <figure><img src="images/testimonial-thumb1.jpg" class="rounded-circle img-fluid" alt=""></figure>
                        <h3>Pamela Redmond</h3>
                        <span class="source-title">Development</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing</p>
                        <ul class="follow-us">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </li>
                    <li class="col-md-6 col-lg-3">
                        <figure><img src="images/testimonial-thumb2.jpg" class="rounded-circle img-fluid" alt=""></figure>
                        <h3>Matt Anderson</h3>
                        <span class="source-title">Digital Marketing</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing</p>
                        <ul class="follow-us">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </li>
                    <li class="col-md-6 col-lg-3">
                        <figure><img src="images/testimonial-thumb3.jpg" class="rounded-circle img-fluid" alt=""></figure>
                        <h3>Milan Chudoba</h3>
                        <span class="source-title">Co-Founder</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing</p>
                        <ul class="follow-us">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </li>
                    <li class="col-md-6 col-lg-3">
                        <figure><img src="images/testimonial-thumb4.jpg" class="rounded-circle img-fluid" alt=""></figure>
                        <h3>Christopher</h3>
                        <span class="source-title">Creative Director</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing</p>
                        <ul class="follow-us">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>

<!-- ==============================================
**Our Team Section 2**
=================================================== -->
        <section class="our-team-outer padding-lg grey-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <h2>Executive Team</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
                <ul class="row team-listing">
                    <li class="col-md-4">
                        <figure><img src="images/team-img2.jpg" class="rounded-circle img-fluid" alt=""></figure>
                        <h3>Pamela Redmond</h3>
                        <span class="source-title">Digital Marketing</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing</p>
                        <ul class="follow-us">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </li>
                    <li class="col-md-4">
                        <figure><img src="images/team-img1.jpg" class="rounded-circle img-fluid" alt=""></figure>
                        <h3>Matt Anderson</h3>
                        <span class="source-title">Development</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing</p>
                        <ul class="follow-us">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </li>
                    <li class="col-md-4">
                        <figure><img src="images/team-img3.jpg" class="rounded-circle img-fluid" alt=""></figure>
                        <h3>Milan Chudoba</h3>
                        <span class="source-title">Co-Founder</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing</p>
                        <ul class="follow-us">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>

<!-- ==============================================
**Our Team Section 3**
=================================================== -->
        <section class="our-team-outer padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <h2>Marketing Team</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
                <ul class="row team-listing">
                    <li class="col-md-6 col-lg-3">
                        <figure><img src="images/team-img5.jpg" class="rounded img-fluid" alt=""></figure>
                        <h3>Matt Anderson</h3>
                        <span class="source-title">Development</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing</p>
                        <ul class="follow-us">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </li>
                    <li class="col-md-6 col-lg-3">
                        <figure><img src="images/team-img6.jpg" class="rounded img-fluid" alt=""></figure>
                        <h3>Annabel</h3>
                        <span class="source-title">Creative Director</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing</p>
                        <ul class="follow-us">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </li>
                    <li class="col-md-6 col-lg-3">
                        <figure><img src="images/team-img7.jpg" class="rounded img-fluid" alt=""></figure>
                        <h3>Milan Chudoba</h3>
                        <span class="source-title">Co-Founder</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing</p>
                        <ul class="follow-us">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </li>
                    <li class="col-md-6 col-lg-3">
                        <figure><img src="images/team-img8.jpg" class="rounded img-fluid" alt=""></figure>
                        <h3>Pamela Redmond</h3>
                        <span class="source-title">Digital Marketing</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing</p>
                        <ul class="follow-us">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>

<!-- ==============================================
**Signup Section**
=================================================== -->
        <section class="signup-outer gradient-bg padding-lg">
            <!--<div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="clearfix">
                            <li> <span class="icon-men"></span>
                                <h4>Signup for an <span>Account</span></h4>
                            </li>
                            <li> <span class="icon-chat"></span>
                                <h4>Discuss with <span>our team</span></h4>
                            </li>
                            <li> <span class="icon-lap"></span>
                                <h4>Receive a <span>good support</span></h4>
                            </li>
                        </ul>
                        <div class="signup-form">
                            <form action="#" method="get">
                                <div class="email">
                                    <input name="email" type="text" placeholder="email">
                                </div>
                                <div class="password">
                                    <input name="password" type="password" placeholder="password">
                                </div>
                                <button class="signup-btn">Sign up Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>-->
        </section>

<!-- ==============================================
**Footer opt1**
=================================================== -->
        <% include part_element/footer.ejs%>

        <!-- Scroll to top --> 
        <a href="#" class="scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a> 

        <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
        <script src="js/jquery.min.js"></script> 
        <!-- Popper JS --> 
        <script src="js/popper.min.js"></script> 
        <!-- Bootsrap JS --> 
        <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
        <!-- Select2 JS --> 
        <script src="assets/select2/js/select2.min.js"></script> 
        <!-- Custom JS --> 
        <script src="js/custom.js"></script>
        <!--Cookie JS-->
        <script src="js/jquery.cookie.js"></script>
    </body>
</html>