<!DOCTYPE html>
<html lang="en">
    <% include part_element/head.ejs%>
    <body>

<!-- ==============================================
**Preloader**
=================================================== -->
        <div id="loader">
            <div id="element">
                <div class="circ-one"></div>
                <div class="circ-two"></div>
            </div>
        </div>

<!-- ==============================================
**Header**
=================================================== -->
        <% include part_element/header.ejs%>

<!-- ==============================================
**Inner Banner**
=================================================== -->
        <section class="inner-banner">
            <div class="container">
                <div class="contents">
                    <h1>Testimonial Blocks</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span>Lorem Ipsum has been the industry's standard dummy text ever since</span></p>
                </div>
            </div>
        </section>

<!-- ==============================================
**Client Speak opt1**
=================================================== -->
        <section class="client-speak carousel1 grey-bg padding-lg">
            <div class="container">
                <div class="row justify-content-center head-block">
                    <div class="col-md-10"> <span>Client speak</span>
                        <h2>We are Awesome but<br>
                            Don't take our words for it</h2>
                        <p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy</p>
                    </div>
                </div>
                <ul class="speak-listing opt1 owl-carousel">
                    <li>
                        <div class="inner">
                            <figure><img src="images/testimonial-thumb1.jpg" class="img-fluid rounded-circle" alt=""></figure>
                            <span class="icon-quote"></span>
                            <div class="client-detail">
                                <h4>Julia Renvoye</h4>
                                <span class="designation">Softwear Engineer</span> </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and simply dummy text of the typesetting industry. simply dummy text of theLorem Ipsum hasdummy text of the typesetting...<a href="#">read more</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <figure><img src="images/testimonial-thumb2.jpg" class="img-fluid rounded-circle" alt=""></figure>
                            <span class="icon-quote"></span>
                            <div class="client-detail">
                                <h4>Aleksandar</h4>
                                <span class="designation">Art Director</span> </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and simply dummy text of the typesetting industry. simply dummy text of theLorem Ipsum hasdummy text of the typesetting...<a href="#">read more</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <figure><img src="images/testimonial-thumb3.jpg" class="img-fluid rounded-circle" alt=""></figure>
                            <span class="icon-quote"></span>
                            <div class="client-detail">
                                <h4>John Nikcevic</h4>
                                <span class="designation">Creative Director</span> </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and simply dummy text of the typesetting industry. simply dummy text of theLorem Ipsum hasdummy text of the typesetting...<a href="#">read more</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <figure><img src="images/testimonial-thumb4.jpg" class="img-fluid rounded-circle" alt=""></figure>
                            <span class="icon-quote"></span>
                            <div class="client-detail">
                                <h4>Christopher</h4>
                                <span class="designation">Team Leader</span> </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and simply dummy text of the typesetting industry. simply dummy text of theLorem Ipsum hasdummy text of the typesetting...<a href="#">read more</a></p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

<!-- ==============================================
**Client Speak opt2**
=================================================== -->
        <section class="client-speak padding-lg">
            <div class="container">
                <div class="row justify-content-center head-block padd-sm">
                    <div class="col-md-10"> <span>Client speak</span>
                        <h2>We are Awesome but<br>
                            Don't take our words for it</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="speak-listing opt2 carousel2">
                            <li>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book....<a href="#">read more</a></p>
                            </li>
                            <li>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book....<a href="#">read more</a></p>
                            </li>
                            <li>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book....<a href="#">read more</a></p>
                            </li>
                        </ul>
                        <div id="bx-pager"> <a data-slide-index="0" href="">
                            <figure><img src="images/testimonial-thumb1.jpg" class="rounded-circle" alt=""/></figure>
                            <div class="client-detail">
                                <h4>Julia Renvoye</h4>
                                <span class="designation">Softwear Engineer</span> <span class="icon-quote"></span> </div>
                            </a> <a data-slide-index="1" href="">
                            <figure><img src="images/testimonial-thumb2.jpg" class="rounded-circle" alt="" /></figure>
                            <div class="client-detail">
                                <h4>Aleksandar</h4>
                                <span class="designation">Art Director</span> <span class="icon-quote"></span> </div>
                            </a> <a data-slide-index="2" href="">
                            <figure><img src="images/testimonial-thumb3.jpg" class="rounded-circle" alt="" /></figure>
                            <div class="client-detail">
                                <h4>John Nikcevic</h4>
                                <span class="designation">Creative Director</span> <span class="icon-quote"></span> </div>
                            </a> </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Client Speak opt3**
=================================================== -->
        <section class="client-speak carousel3 grey-bg padding-lg">
            <div class="container">
                <div class="row justify-content-center head-block">
                    <div class="col-md-10"> <span>Client speak</span>
                        <h2>We are Awesome but<br>
                            Don't take our words for it</h2>
                        <p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy</p>
                    </div>
                </div>
                <ul class="speak-listing opt3 owl-carousel">
                    <li>
                        <div class="inner">
                            <figure><img src="images/testimonial-thumb1.jpg" class="img-fluid rounded-circle" alt=""> <span class="icon-quote"></span> </figure>
                            <div class="cnt-right">
                                <div class="client-detail">
                                    <h4>Julia Renvoye</h4>
                                    <span class="designation">Softwear Engineer</span> </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and simply dummy text of the typesetting industry. simply dummy text of theLorem Ipsum hasdummy text of the typesetting...<a href="#">read more</a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <figure><img src="images/testimonial-thumb2.jpg" class="img-fluid rounded-circle" alt=""> <span class="icon-quote"></span> </figure>
                            <div class="cnt-right">
                                <div class="client-detail">
                                    <h4>Aleksandar</h4>
                                    <span class="designation">Art Director</span> </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and simply dummy text of the typesetting industry. simply dummy text of theLorem Ipsum hasdummy text of the typesetting...<a href="#">read more</a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <figure><img src="images/testimonial-thumb3.jpg" class="img-fluid rounded-circle" alt=""> <span class="icon-quote"></span> </figure>
                            <div class="cnt-right">
                                <div class="client-detail">
                                    <h4>John Nikcevic</h4>
                                    <span class="designation">Creative Director</span> </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and simply dummy text of the typesetting industry. simply dummy text of theLorem Ipsum hasdummy text of the typesetting...<a href="#">read more</a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <figure><img src="images/testimonial-thumb1.jpg" class="img-fluid rounded-circle" alt=""> <span class="icon-quote"></span> </figure>
                            <div class="cnt-right">
                                <div class="client-detail">
                                    <h4>Julia Renvoye</h4>
                                    <span class="designation">Softwear Engineer</span> </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and simply dummy text of the typesetting industry. simply dummy text of theLorem Ipsum hasdummy text of the typesetting...<a href="#">read more</a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <figure><img src="images/testimonial-thumb2.jpg" class="img-fluid rounded-circle" alt=""> <span class="icon-quote"></span> </figure>
                            <div class="cnt-right">
                                <div class="client-detail">
                                    <h4>Aleksandar</h4>
                                    <span class="designation">Art Director</span> </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and simply dummy text of the typesetting industry. simply dummy text of theLorem Ipsum hasdummy text of the typesetting...<a href="#">read more</a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <figure><img src="images/testimonial-thumb3.jpg" class="img-fluid rounded-circle" alt=""> <span class="icon-quote"></span> </figure>
                            <div class="cnt-right">
                                <div class="client-detail">
                                    <h4>John Nikcevic</h4>
                                    <span class="designation">Creative Director</span> </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and simply dummy text of the typesetting industry. simply dummy text of theLorem Ipsum hasdummy text of the typesetting...<a href="#">read more</a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

<!-- ==============================================
**Client Speak opt4**
=================================================== -->
        <section class="client-speak carousel4 padding-lg">
            <div class="container">
                <div class="row justify-content-center head-block">
                    <div class="col-md-10"> <span>Client speak</span>
                        <h2>We are Awesome but<br>
                            Don't take our words for it</h2>
                        <p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since beenLorem Ipsum is simply dummy</p>
                    </div>
                </div>
                <ul class="speak-listing opt4 owl-carousel">
                    <li>
                        <div class="inner"> <span class="icon-quote"></span>
                            <p>Lorem Ipsum is simply dummy text of the printing and simply dummy text of the typesetting industry. simply dummy text of theLorem Lorem typesetting industry...<a href="#">read more</a></p>
                            <div class="client-detail">
                                <figure><img src="images/testimonial-thumb1.jpg" class="img-fluid rounded-circle" alt=""></figure>
                                <h4>Julia Renvoye</h4>
                                <span class="designation">Softwear Engineer</span> </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner"> <span class="icon-quote"></span>
                            <p>Lorem Ipsum is simply dummy text of the printing and simply dummy text of the typesetting industry. simply dummy text of theLorem Lorem typesetting industry...<a href="#">read more</a></p>
                            <div class="client-detail">
                                <figure><img src="images/testimonial-thumb2.jpg" class="img-fluid rounded-circle" alt=""></figure>
                                <h4>Aleksandar</h4>
                                <span class="designation">Art Director</span> </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner"> <span class="icon-quote"></span>
                            <p>Lorem Ipsum is simply dummy text of the printing and simply dummy text of the typesetting industry. simply dummy text of theLorem Lorem typesetting industry...<a href="#">read more</a></p>
                            <div class="client-detail">
                                <figure><img src="images/testimonial-thumb3.jpg" class="img-fluid rounded-circle" alt=""></figure>
                                <h4>John Nikcevic</h4>
                                <span class="designation">Creative Director</span> </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner"> <span class="icon-quote"></span>
                            <p>Lorem Ipsum is simply dummy text of the printing and simply dummy text of the typesetting industry. simply dummy text of theLorem Lorem typesetting industry...<a href="#">read more</a></p>
                            <div class="client-detail">
                                <figure><img src="images/testimonial-thumb4.jpg" class="img-fluid rounded-circle" alt=""></figure>
                                <h4>Christopher</h4>
                                <span class="designation">Team Leader</span> </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

<!-- ==============================================
**Signup Section**
=================================================== -->
        <section class="signup-outer gradient-bg padding-lg">
            <!--<div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="clearfix">
                            <li> <span class="icon-men"></span>
                                <h4>Signup for an <span>Account</span></h4>
                            </li>
                            <li> <span class="icon-chat"></span>
                                <h4>Discuss with <span>our team</span></h4>
                            </li>
                            <li> <span class="icon-lap"></span>
                                <h4>Receive a <span>good support</span></h4>
                            </li>
                        </ul>
                        <div class="signup-form">
                            <form action="#" method="get">
                                <div class="email">
                                    <input name="email" type="text" placeholder="email">
                                </div>
                                <div class="password">
                                    <input name="password" type="password" placeholder="password">
                                </div>
                                <button class="signup-btn">Sign up Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>-->
        </section>

<!-- ==============================================
**Footer opt1**
=================================================== -->
        <% include part_element/footer.ejs%>

        <!-- Scroll to top --> 
        <a href="#" class="scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a> 

        <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
        <script src="js/jquery.min.js"></script> 
        <!-- Popper JS --> 
        <script src="js/popper.min.js"></script> 
        <!-- Bootsrap JS --> 
        <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
        <!-- Select2 JS --> 
        <script src="assets/select2/js/select2.min.js"></script> 
        <!-- Bxslider JS --> 
        <script src="assets/bxslider/js/bxslider.min.js"></script> 
        <!-- Owl Carousal JS --> 
        <script src="assets/owl-carousel/js/owl.carousel.min.js"></script> 
        <!-- Custom JS --> 
        <script src="js/custom.js"></script>
        <!--Cookie JS-->
        <script src="js/jquery.cookie.js"></script>
    </body>
</html>