<!DOCTYPE html>
<html lang="en">
    <% include part_element/head.ejs%>
    <body>

<!-- ==============================================
**Preloader**
=================================================== -->
        <div id="loader">
            <div id="element">
                <div class="circ-one"></div>
                <div class="circ-two"></div>
            </div>
        </div>

<!-- ==============================================
**Header**
=================================================== -->
    <% include part_element/header.ejs%>

<!-- ==============================================
**Inner Banner**
=================================================== -->
        <section class="inner-banner typography-banner">
            <div class="container">
                <div class="contents">
                    <h1>Typography</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span>Lorem Ipsum has been the industry's standard dummy text ever since</span></p>
                </div>
            </div>
        </section>

<!-- ==============================================
**Typography**
=================================================== -->
        <section class="typography-top padding-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="heading-box">
                            <h1>Heading 1</h1>
                            <h2>Heading 2</h2>
                            <h3>Heading 3</h3>
                            <h4>Heading 4</h4>
                            <h5>Heading 5</h5>
                            <h6>Heading 6</h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="paragraph-box">
                            <h6>Para 1</h6>
                            <p class="large">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                        </div>
                        <div class="paragraph-box">
                            <h6>Para 2</h6>
                            <p >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                        </div>
                        <div class="paragraph-box">
                            <h6>Para 3</h6>
                            <p class="small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printerLorem Ipsum is simply dummy </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="typography-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"> <code>&lt;ul&gt;</code>
                        <ul>
                            <li>Lorem Ipsum is simply dummy </li>
                            <li>text of the printing and typesetting </li>
                            <li>industry. Lorem Ipsum has been</li>
                            <li>the industry's standard dummy text</li>
                            <li>ever since the 1500s, when an </li>
                        </ul>
                    </div>
                    <div class="col-md-4"> <code>&lt;ol&gt;</code>
                        <ol>
                            <li>Lorem Ipsum is simply dummy </li>
                            <li>text of the printing and typesetting </li>
                            <li>industry. Lorem Ipsum has been</li>
                            <li>the industry's standard dummy text</li>
                            <li>ever since the 1500s, when an </li>
                        </ol>
                    </div>
                    <div class="col-md-4"> <code>&lt;ul class="list-unstyled"&gt;</code>
                        <ul class="list-unstyled">
                            <li>Lorem Ipsum is simply dummy </li>
                            <li>text of the printing and typesetting </li>
                            <li>industry. Lorem Ipsum has been</li>
                            <li>the industry's standard dummy text</li>
                            <li>ever since the 1500s, when an </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="typography-bottom padding-lg">
            <div class="container privacy-policy">
                <h4>General Information</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <ul class="circle-bordered-list">
                    <li>
                        <p><strong>Lorem Ipsum is simply:</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </li>
                    <li>
                        <p><strong>Printing and typesetting: </strong>industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </li>
                </ul>
                <hr>
                <h4>Information Gathering and Usage</h4>
                <ul class="circle-bordered-list">
                    <li>
                        <p>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </li>
                    <li>
                        <p>Industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </li>
                </ul>
                <ul class="quate-box">
                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuriesLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</li>
                </ul>
            </div>
        </section>

<!-- ==============================================
**Signup Section**
=================================================== -->
        <section class="signup-outer gradient-bg padding-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="clearfix">
                            <li> <span class="icon-men"></span>
                                <h4>Signup for an <span>Account</span></h4>
                            </li>
                            <li> <span class="icon-chat"></span>
                                <h4>Discuss with <span>our team</span></h4>
                            </li>
                            <li> <span class="icon-lap"></span>
                                <h4>Receive a <span>good support</span></h4>
                            </li>
                        </ul>
                        <div class="signup-form">
                            <form action="#" method="get">
                                <div class="email">
                                    <input name="email" type="text" placeholder="email">
                                </div>
                                <div class="password">
                                    <input name="password" type="password" placeholder="password">
                                </div>
                                <button class="signup-btn">Sign up Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- ==============================================
**Footer opt1**
=================================================== -->
       <% include part_element/footer.ejs%>

        <!-- Scroll to top --> 
        <a href="#" class="scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a> 

        <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
        <script src="js/jquery.min.js"></script> 
        <!-- Popper JS --> 
        <script src="js/popper.min.js"></script> 
        <!-- Bootsrap JS --> 
        <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
        <!-- Select2 JS --> 
        <script src="assets/select2/js/select2.min.js"></script> 
        <!-- Custom JS --> 
        <script src="js/custom.js"></script>
    </body>
</html>