<body>
<header>
    <!-- Start Header top Bar -->
    <!--<div class="header-top">-->
        <!--<div class="container clearfix">-->
            <!--<div class="lang-wrapper">-->

            <!--</div>-->
            <!--<div class="right-block clearfix">-->
                <!--<ul class="top-nav hidden-xs">-->
                    <!--<li><a id="about" href="/about">About</a></li>-->
                    <!--<li><a href="/support">Support</a></li>-->
                    <!--<li><a href="/career">Career</a></li>-->
                    <!--<li><a href="/faq">FAQs</a></li>-->
                <!--</ul>-->
                <!--<ul class="follow-us hidden-xs">-->
                    <!--<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!-- End Header top Bar -->

    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container"> <a href="/" data-language="llogo" class="navbar-brand"><img src="../images/logo.png" class="img-fluid" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <a class="nav-link js--scroll-to-features" id="dropdown1" aria-haspopup="true" data-language="lfuture" aria-expanded="false" >Features</a>
                    </li>
                    <li>
                        <a class="nav-link js--scroll-to-services" id="dropdown1" aria-haspopup="true" data-language="lservices" aria-expanded="false" >Services</a>
                    </li>
                    <li>
                        <a class="nav-link js--scroll-to-blogs" id="dropdown1" aria-haspopup="true" data-language="lblog" aria-expanded="false">Blog</a>
                    </li>
                    <li>
                        <a class="nav-link js--scroll-to-team" id="dropdown1" aria-haspopup="true" data-language="lteam" aria-expanded="false">Team</a>
                    </li>
                    <li>
                        <a class="nav-link js--scroll-to-price" id="dropdown1" aria-haspopup="true" data-language="lprice" aria-expanded="false">Price</a>
                    </li>
                    <li>
                        <a class="nav-link js--scroll-to-faq" id="dropdown1" aria-haspopup="true" data-language="lfaq" aria-expanded="false">FAQ</a>
                    </li>
                    <li>
                        <a class="nav-link js--scroll-to-contact" id="dropdown1" aria-haspopup="true" data-language="lcontact" aria-expanded="false">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img data-language="setflag" src="../assets/flags/4x3/us.svg" style="height: 17px;"></a>
                        <div class="dropdown-menu" style="min-width: auto; width: auto; padding: 20px 0;">
                            <a class="dropdown-item" href="javascript:void(0)" data-callLang="eng">
                                <img src="../assets/flags/4x3/us.svg" style="height: 24px;">
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)" data-callLang="ru">
                                <img src="../assets/flags/4x3/ru.svg" style="height: 24px;">
                            </a>
                        </div>
                    </li>
                </ul>
                <!-- <div id="login_area">
                    <ul class="navbar-right d-flex">
                        <li><a href="/register">Signup</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div> -->
                <div id="login_area" class="col-md-4 text-center text-md-right" ></div>
            </div>
        </div>
    </nav>
    <!-- End Navigation -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.cookie.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/multilang.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/multipallang.js"></script>
    <script src="../js/custom.js"></script>
</header>

</body>
